<!-- show order modal -->
<div style="padding-top: 100px;">

  <div class="modal-header">
    <button type="button" class="close-btn" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></button>
    <div class="modal-title">Select an Image for Receiving Instructions</div>
  </div>
  <div class="modal-body">
    <div class="container-fluid form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <div class="single-image-clickable" ng-model="products.single.images" ng-class="{'primary-image': $index==0}"
               ng-repeat="image in products.single.images">
            <div ng-hide="image.added_to_receiving_instructions">
              <div>
                <img ng-src="{{image.image}}" style="border: 1px solid grey;"
                     class="img-polaroid img-thumb img-responsive" ng-click="select_unselect(image)"
                     ng-show="image.checked == false"/>
                <img ng-src="{{image.image}}" style="border: 2px solid #8CF20D;"
                     class="img-polaroid img-thumb img-responsive img-selected" ng-click="select_unselect(image)"
                     ng-show="image.checked"/>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="single-image" ng-model="products.single.images" ng-class="{'primary-image': $index==0}"
               ng-repeat="image in products.single.images">
            <div ng-hide="image.added_to_receiving_instructions">
              <div ng-show="image.checked">
                <div>Image Note:</div>
                <textarea class="form-control input-style" style="height:100px; width:300px;"
                          ng-model="image.image_note" ng-blur="update_image_note($index)"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-click="ok()" class="modal-save-button" translate>modal.save_close</button>
    <button ng-click="cancel()" class="modal-cancel-button" translate>modal.cancel</button>
  </div>
</div>

