  <div class="row">
    <div class="span6">
    <h5>Magento Credentials</h5>
      <div class="control-group">
        <label class="control-label">Host</label>
        <div class="controls">
          <input name="host" xs-input-sync ng-model="newStore.host" type="text" value="" required/>
         </div>
      </div> 

      <div class="control-group">
        <label class="control-label">Username</label>
        <div class="controls">
          <input name="username" xs-input-sync ng-model="newStore.username" type="text" value="" required/>
         </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
          <input name="password" xs-input-sync ng-model="newStore.password" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">API Key</label>
        <div class="controls">
          <input name="apikey" xs-input-sync ng-model="newStore.api_key" type="text" value="" required/>
         </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
        <h5>Store Settings</h5>
         <label class="checkbox">
          <input type="checkbox"
                 ng-model="newStore.import_images"
                 name="import_images" /> Import Images <br/>
        </label>
        <label class="checkbox">
          <input type="checkbox"
                 ng-model="newStore.import_products"
                 name="import_products" /> Import Product Categories<br/>
        </label>
    </div>
  </div>
  <div class="row">
    <div class="span6">
    <h5>Import Orders</h5>
      <div class="control-group">
        <div class="controls">
          <button ng-click="import_orders()"class="btn btn-primary" ng-show="edit_status">Import Orders</button>
        </div>
      </div>
      <div class="control-group">
        <label class="alert alert-info" ng-show="importorderstatus_show">{{importorder_status}}</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span">
    <h5>Import Products</h5>

      <div class="control-group">
        <div class="controls">
          <button ng-click="import_products()"class="btn btn-primary" ng-show="edit_status">Import Products</button>
        </div>
      </div>

      <div class="control-group">
      <label class="alert alert-info" ng-show="importproductstatus_show">{{importproduct_status}}</label>
      </div>
    </div>
  </div>

