<div id="showOrderConfirmation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showOrderConfirmation"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3 id="showOrderConfirmationHeader" >Scan Confirmation Code with 'Order edit' permission</h3>
    </div>
    <div class="form-horizontal form-horizontal-create" >
        <fieldset>
            <div class="modal-body" id="showOrderConfirmation-body">
                <div class="control-group">
                    <label class="control-label">Confirmation Code</label>
                    <div class="controls">
                        <input id="order_edit_confirmation_code" type="text" ng-model="order_confirmation_code" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>

<div id="showProductConfirmation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showProductConfirmation"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3 id="showProductConfirmationHeader" >Scan Confirmation Code with 'Product edit' permission</h3>
    </div>
    <div class="form-horizontal form-horizontal-create" >
        <fieldset>
            <div class="modal-body" id="showProductConfirmation-body">
                <div class="control-group">
                    <label class="control-label">Confirmation Code</label>
                    <div class="controls">
                        <input id="product_edit_confirmation_code" type="text" ng-model="product_confirmation_code" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>

<!-- Product list Modal -->
<div id="showProductList" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showProductList"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3 id="showProductListHeader" >Items in current Order</h3>
    </div>
    <div class="modal-body" id="showProductList-body">
        <table id="orderitemstbl" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="item in inactive_new_products">
                <td><a href="" data-target="#showProduct" role="button" data-toggle="modal" ng-click="product_single_details(item.id,$index)" class="ng-binding">{{item.name}}</a></td>
                <td>{{item.status}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>
<!-- Product list Modal ends-->

<div id="showCosConfirmation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showCosConfirmation"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3 id="showCosConfirmationHeader" >Scan Confirmation Code with 'Change Order Status' permission</h3>
    </div>
    <div class="form-horizontal form-horizontal-create" >
        <fieldset>
            <div class="modal-body" id="showCosConfirmation-body">
                <div class="control-group">
                    <label class="control-label">Confirmation Code</label>
                    <div class="controls">
                        <input id="cos_confirmation_code" type="text" ng-model="cos_confirmation_code" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>


<!-- Tracking number Scan modal -->
<div id="trackingNumberScan" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="trackingNumberScan"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3 id="trackingNumberScanHeader">Order {{order_increment_id}} is complete.</h3>
    </div>
    <div class="form-horizontal form-horizontal-create" >
        <fieldset>
            <div class="modal-body" id="trackingNumberScan-body">
                <div class="alert alert-danger" ng-show="show_error_msgs">
                    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                    <p ng-repeat="message in error_msgs">{{message}}</p>
                </div>
                <h4 id="trackingNumberScanHeader">Please create the shipping label, adhere it to the package, and scan the tracking number to continue.</h4>
                <div class="control-group">
                    <label class="control-label">Tracking Number</label>
                    <div class="controls">
                        <input id="scantracking_num" type="text" ng-model="tracking_num" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>
<!-- Tracking number Scan modal ends -->
<!-- Notes from Packer modal -->
<div id="showNotesFromPacker" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showNotesFromPacker"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3 id="showNotesFromPackerHeader">Note from packer</h3>
    </div>
    <div class="form-horizontal form-horizontal-create" >
        <div class="modal-body" id="showNotesFromPacker-body">
            <div class="control-group">
                <fieldset>
                    <legend>Add Note to Order</legend>
                    <textarea id="note_from_packer" class="span8" ng-model="notes_from_packer" ></textarea>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>
<!-- Notes from packer modal ends -->

