<div class="row">
  <div class="box-outer">
    <div class="box"></div>
    <div class="col-sm-offset-3 col-sm-6">
      <img src="/assets/images/logo.png" class="col-xs-12" alt="GroovePacker"/>
    </div>
  </div>
</div>
<div class="row bottom-well col-sm-offset-2 col-sm-8">
  <div class="row">
    <div class="col-sm-12">
      <center>
        <h4>Oops, something went wrong.</h4>
        <br/><br/>
        Auhtentication process could not be completed successfully. Please go through the Integration setup instructions and try again.
        <br/><br/>
        If you need assistance please don't hesitate to email us at
        <a href="http://support@groovepacker.com">support@groovepacker.com</a>.
      </center>
    </div>
  </div>
</div>
