[submodule "nodeserver"]
  path = nodeserver
  url = git@bitbucket.org:groovepacker/nodeserver.git
  branch=aws
[submodule "vendor/groove-data-processor"]
  path = vendor/groove-data-processor
  url = git@bitbucket.org:groovepacker/groove-data-processor.git
  branch=master
[submodule "vendor/gopacker"]
  path = vendor/gopacker
  url = git@bitbucket.org:groovepacker/gopacker.git
