  <div class="row">
    <div class="span4">
    <h5>Order Import</h5>
      <br/>
      <div ng-show="orderimport_type=='apiimport' ">

      <div class="control-group">
        <label class="control-label">Merchant ID</label>
        <div class="controls">
          <input name="merchant_id" xs-input-sync ng-model="newStore.merchant_id" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">Marketplace ID</label>
        <div class="controls">
          <input name="marketplace_id" xs-input-sync ng-model="newStore.marketplace_id" type="text" value="" required/>
         </div>
      </div>
      <div class="control-group">
      <p><a href="https://developer.amazonservices.com/" target="_blank">Click here</a> to grant GroovePacker access to your Amazon Seller account.</p>
      <p>Sign Up for MWS and Choose Option 2:  Use an application to access my Amazon Seller Account. Provide the following details of Groovepacker</p>
      </div>

      <div class="control-group">
        <label class="control-label">Developer Account Number</label>
        <div class="controls">
          <p>3632-2901-3625</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Application Name</label>
        <div class="controls">
          <p>GroovePacker</p>
         </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button ng-click="import_orders()"class="btn btn-primary" ng-show="edit_status">Import Orders</button>
        </div>
      </div>
      <div class="control-group">
      <label class="alert alert-info" ng-show="importorderstatus_show">{{importorder_status}}</label>
      </div>

      </div>

      <div ng-show="orderimport_type=='csvimport'">
      <div class="control-group">
          <input name="csvfile" xs-input-sync ng-model="ordercsvfile" type="file" value="" required/>
      </div> 
      </div> 

    </div>
  </div>

  <div class="row">
    <div class="span4">
    <h5>Product Import</h5>
      <br/>
      <label class="checkbox">
        <input type="checkbox"
               ng-model="copyfromabove"
               name="copy" 
               ng-change="copydata(copyfromabove)"/> Copy data from above<br/>
      </label>
       <label class="checkbox">
        <input type="checkbox"
               ng-model="newStore.import_images"
               name="import_images" /> Import Images <br/>
      </label>
      <label class="checkbox">
        <input type="checkbox"
               ng-model="newStore.import_products"
               name="import_products" /> Import Product Categories<br/>
      </label>
      <div ng-show="productimport_type=='apiimport'">

      <div class="control-group">
        <label class="control-label">Merchant ID</label>
        <div class="controls">
          <input name="productmerchant_id" xs-input-sync ng-model="newStore.productmerchant_id" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">Marketplace ID</label>
        <div class="controls">
          <input name="productmarketplace_id" xs-input-sync ng-model="newStore.productmarketplace_id" type="text" value="" required/>
         </div>
      </div>


      <div class="control-group">
        <div class="controls">
          <button ng-click="request_import_products()"class="btn btn-primary" ng-show="edit_status">Request Product Import</button>
        </div>
      </div>
      <div class="control-group" ng-show="newStore.productreport_id!='' && !newStore.productgenerated_report_id">
        <div class="controls">
          <button ng-click="check_request_import_products()"class="btn" ng-show="edit_status">Check Report Status</button>
        </div>
      </div>
      <div class="control-group" ng-show="newStore.productgenerated_report_id">
        <div class="controls">
          <button ng-click="import_products(newStore.productgenerated_report_id)"class="btn" ng-show="edit_status">Import Products</button>
        </div>
      </div>
      <div class="control-group">
      <label class="alert alert-info" ng-show="importproductstatus_show">{{importproduct_status}}</label>
      </div>
      </div>
      <div ng-show="productimport_type=='csvimport'">
      <div class="control-group">
          <input name="productcsvfile" xs-input-sync ng-model="productcsvfile" type="file" value="" required/>
      </div> 
      </div> 
    </div>
  </div>