  <div class="row">
    <div class="span4">
    <h5>Order Import</h5>

      <br/>
      <div class="control-group">
        <label class="control-label">Access Key ID</label>
        <div class="controls">
          <input name="access_key_id" xs-input-sync ng-model="newStore.access_key_id" type="text" value="" required/>
         </div>
      </div> 

      <div class="control-group">
        <label class="control-label">App Name</label>
        <div class="controls">
          <input name="app_name" xs-input-sync ng-model="newStore.app_name" type="text" value="" required/>
         </div>
      </div>
      <div class="control-group">
        <label class="control-label">App Version</label>
        <div class="controls">
          <input name="app_version" xs-input-sync ng-model="newStore.app_version" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">Marketplace ID</label>
        <div class="controls">
          <input name="marketplace_id" xs-input-sync ng-model="newStore.marketplace_id" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">Merchant ID</label>
        <div class="controls">
          <input name="merchant_id" xs-input-sync ng-model="newStore.merchant_id" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">Secret Access Key</label>
        <div class="controls">
          <input name="secret_access_key" xs-input-sync ng-model="newStore.secret_access_key" type="text" value="" required/>
         </div>
      </div>


    </div>
  </div>

  <div class="row">
    <div class="span4">
    <h5>Product Import</h5>
      <br/>
      <br/>
      <label class="checkbox">
        <input type="checkbox"
               ng-model="copyfromabove"
               name="copy" 
               ng-change="copydata(copyfromabove)"/> Copy data from above<br/>
      </label>
       <label class="checkbox">
        <input type="checkbox"
               ng-model="newStore.import_images"
               name="import_images" /> Import Images <br/>
      </label>
      <label class="checkbox">
        <input type="checkbox"
               ng-model="newStore.import_products"
               name="import_products" /> Import Product Categories<br/>
      </label>
      <div class="control-group">
        <label class="control-label">Access Key ID</label>
        <div class="controls">
          <input name="access_key_id" xs-input-sync ng-model="newStore.productaccess_key_id" type="text" value="" required/>
         </div>
      </div> 

      <div class="control-group">
        <label class="control-label">App Name</label>
        <div class="controls">
          <input name="productapp_name" xs-input-sync ng-model="newStore.productapp_name" type="text" value="" required/>
         </div>
      </div>
      <div class="control-group">
        <label class="control-label">App Version</label>
        <div class="controls">
          <input name="productapp_version" xs-input-sync ng-model="newStore.productapp_version" type="text" value="" required/>
         </div>
      </div>
      <div class="control-group">
        <label class="control-label">Marketplace ID</label>
        <div class="controls">
          <input name="productmarketplace_id" xs-input-sync ng-model="newStore.productmarketplace_id" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">Merchant ID</label>
        <div class="controls">
          <input name="productmerchant_id" xs-input-sync ng-model="newStore.productmerchant_id" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">Secret Access Key</label>
        <div class="controls">
          <input name="productsecret_access_key" xs-input-sync ng-model="newStore.productsecret_access_key" type="text" value="" required/>
         </div>
      </div>


    </div>
  </div>