  <div class="row">
    <div class="span6">
    <h5>Amazon Credentials</h5>
    <div ng-show="orderimport_type=='apiimport' ">
      <div class="control-group">
        <label class="control-label">Merchant ID</label>
        <div class="controls">
          <input name="merchant_id" xs-input-sync ng-model="newStore.merchant_id" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">Marketplace ID</label>
        <div class="controls">
          <input name="marketplace_id" xs-input-sync ng-model="newStore.marketplace_id" type="text" value="" required/>
         </div>
      </div>
      <div class="control-group">
      <p><a href="https://developer.amazonservices.com/" target="_blank">Click here</a> to grant GroovePacker access to your Amazon Seller account.</p>
      <p>Sign Up for MWS and Choose Option 2:  Use an application to access my Amazon Seller Account. Provide the following details of Groovepacker</p>
      </div>

      <div class="control-group">
        <label class="control-label">Developer Account Number</label>
        <div class="controls">
          <p>1512-6494-8396</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Application Name</label>
        <div class="controls">
          <p>GroovePacker</p>
         </div>
      </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
        <h5>Store Settings</h5>
        <label class="checkbox">
          <input type="checkbox"
                 ng-model="newStore.import_images"
                 name="import_images" /> Import Images <br/>
        </label>
        <label class="checkbox">
          <input type="checkbox"
                 ng-model="newStore.import_products"
                 name="import_products" /> Import Product Categories<br/>
        </label>
    </div>
  </div>

  <div class="row">
  <div class="span6">
      <h5>Import Orders</h5>
      <div class="control-group">
        <div class="controls">
          <button ng-click="import_orders()"class="btn btn-primary" ng-show="edit_status">Import Orders</button>
        </div>
      </div>
      <div class="control-group">
        <label class="alert alert-info" ng-show="importorderstatus_show">{{importorder_status}}</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <h5>Import Products</h5>
      <div ng-show="productimport_type=='apiimport'">

      <div class="control-group">
        <div class="controls">
          <button ng-click="request_import_products()"class="btn btn-primary" ng-show="edit_status">Request Product Import</button>
        </div>
      </div>
      <div class="control-group" ng-show="newStore.productreport_id!='' && !newStore.productgenerated_report_id">
        <div class="controls">
          <button ng-click="check_request_import_products()"class="btn" ng-show="edit_status">Check Report Status</button>
        </div>
      </div>
      <div class="control-group" ng-show="newStore.productgenerated_report_id">
        <div class="controls">
          <button ng-click="import_products(newStore.productgenerated_report_id)"class="btn" ng-show="edit_status">Import Products</button>
        </div>
      </div>
      <div class="control-group">
      <label class="alert alert-info" ng-show="importproductstatus_show">{{importproduct_status}}</label>
      </div>


    </div>
  </div>
  </div>

