  <div class="row">
    <div class="span4">
        <h5>Order Import</h5>
        <br/>
        <div class="control-group">
            <input name="orderfile" file-upload  type="file" value="" required/>
            <br/>{{newStore['orderfile'].name}}
        </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
        <h5>Product Import</h5>
        <br/>
        <div class="control-group">
            <input name="productfile" file-upload type="file" value="" required/>
            <br/>{{newStore['productfile'].name}}
        </div>
    </div>
  </div>
