  <div class="row">
    <div class="span4">
    <h5>Order Import</h5>
      <label class="radio inline">
        <input type="radio" ng-model="orderimport_type" value="apiimport"/>  API Import
      </label>

      <label class="radio inline">
        <input type="radio" ng-model="orderimport_type" value="csvimport"> CSV Import
      </label>
      <br/>
      <br/>
      <div ng-show="orderimport_type=='apiimport'">
      <div class="control-group">
        <label class="control-label">App ID</label>
        <div class="controls">
          <input name="ebay_app_id" xs-input-sync ng-model="newStore.ebay_app_id" type="text" value="" required/>
         </div>
      </div> 

      <div class="control-group">
        <label class="control-label">Auth Token</label>
        <div class="controls">
          <input name="ebay_auth_token" xs-input-sync ng-model="newStore.ebay_auth_token" type="text" value="" required/>
         </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">Certificate ID</label>
        <div class="controls">
          <input name="ebay_cert_id" xs-input-sync ng-model="newStore.ebay_cert_id" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">Dev ID</label>
        <div class="controls">
          <input name="ebay_dev_id" xs-input-sync ng-model="newStore.ebay_dev_id" type="text" value="" required/>
         </div>
      </div>
      </div>

      <div ng-show="orderimport_type=='csvimport'">
      <div class="control-group">
          <input name="csvfile" xs-input-sync ng-model="ordercsvfile" type="file" value="" required/>
      </div> 
      </div> 
    </div>
  </div>

  <div class="row">
    <div class="span4">
    <h5>Product Import</h5>
      <label class="radio inline">
        <input type="radio" ng-model="productimport_type" value="apiimport"/>  API Import
      </label>

      <label class="radio inline">
        <input type="radio" ng-model="productimport_type" value="csvimport"> CSV Import
      </label>
      <br/>
      <br/>
      <div ng-show="productimport_type=='apiimport'">
      <label class="checkbox">
        <input type="checkbox"
               ng-model="copyfromabove"
               name="copy" 
               ng-change="copydata(copyfromabove)"/> Copy data from above<br/>
      </label>
       <label class="checkbox">
        <input type="checkbox"
               ng-model="newStore.import_images"
               name="import_images" /> Import Images <br/>
      </label>
      <label class="checkbox">
        <input type="checkbox"
               ng-model="newStore.import_products"
               name="import_products" /> Import Product Categories<br/>
      </label>
      <div class="control-group">
        <label class="control-label">App ID</label>
        <div class="controls">
          <input name="productebay_app_id" xs-input-sync ng-model="newStore.productebay_app_id" type="text" value="" required/>
         </div>
      </div> 

      <div class="control-group">
        <label class="control-label">Auth Token</label>
        <div class="controls">
          <input name="productebay_auth_token" xs-input-sync ng-model="newStore.productebay_auth_token" type="text" value="" required/>
         </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">Certificate ID</label>
        <div class="controls">
          <input name="productebay_cert_id" xs-input-sync ng-model="newStore.productebay_cert_id" type="text" value="" required/>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">Dev ID</label>
        <div class="controls">
          <input name="productebay_dev_id" xs-input-sync ng-model="newStore.productebay_dev_id" type="text" value="" required/>
         </div>
      </div>
      </div>

      <div ng-show="productimport_type=='csvimport'">
      <div class="control-group">
          <input name="productcsvfile" xs-input-sync ng-model="productcsvfile" type="file" value="" required/>
      </div> 
      </div> 

    </div>
  </div>