  <div class="row">
    <div class="span6">
        <h5>Store Settings</h5>
         <label class="checkbox">
          <input type="checkbox"
                 ng-model="newStore.import_images"
                 name="import_images" /> Import Images <br/>
        </label>
        <label class="checkbox">
          <input type="checkbox"
                 ng-model="newStore.import_products"
                 name="import_products" /> Import Product Categories<br/>
        </label>
    </div>
  </div>

  <div class="row">
    <div class="span4">
    <h5>Import Orders</h5>
      <!-- for api import with a valid state -->
      <div ng-show="orderimport_type=='apiimport'">

      <div class="control-group" ng-show="ebay_show_signin_url==true && ebay_signin_url_status==true">
        <label class="control-label"></label>
        <div class="controls">
          <a href="{{ebay_signin_url}}&ruparams=redirect%3Dtrue%26editstatus%3D{{edit_status}}%26name%3D{{newStore.name}}%26status%3D{{newStore.status}}%26storetype%3D{{newStore.store_type}}%26storeid%3D{{newStore.id}}%26inventorywarehouseid%3D{{newStore.inventory_warehouse_id}}%26importimages%3D{{newStore.import_images}}%26importproducts%3D{{newStore.import_products}}%26messagetocustomer%3D{{newStore.thank_you_message_to_customer}}%26tenantname%3D{{current_tenant}}">Click here to access ebay</a>
         </div>
      </div>
      <div ng-hide="ebay_show_signin_url">
      <p class="alert alert-success">Auth Token is successfully retrieved and hidden for security reasons.</p>

      <div>
        <a href="" ng-click="disconnect_ebay_seller()">Disconnect from seller account</a>
      </div>


      <div>
        <div class="control-group">
          <div class="controls">
            <button ng-click="import_orders()"class="btn btn-primary" ng-show="edit_status">Import Orders</button>
          </div>
        </div>
        <div class="control-group">
        <label class="alert alert-info" ng-show="importorderstatus_show">{{importorder_status}}</label>
        </div>
      </div>
      </div>

      <div ng-show="orderimport_type=='csvimport'">
      <div class="control-group">
          <input name="csvfile" xs-input-sync ng-model="ordercsvfile" type="file" value="" required/>
      </div> 
      </div>

    </div>
  </div>
</div>
  <div class="row">
    <div class="span6">
    <h5>Import Products</h5>

      <div class="control-group">
        <div class="controls">
          <button ng-click="import_products()"class="btn btn-primary" ng-show="edit_status">Import Products</button>
        </div>
      </div>
      <div class="control-group">
      <label class="alert alert-info" ng-show="importproductstatus_show">{{importproduct_status}}</label>
      </div>

      </div>

    </div>
