<div class="row navigation-row">
<div ng-include="'/assets/partials/navigation.html'"></div>
</div>
<div  class="row home-row">
<div class="alert alert-danger" ng-show="show_error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>{{error_msg}}</p>
</div>
</div>
<!-- Modal popup for creating user -->
<div id="importOrders" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="importOrders" 
aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h6 id="createUserheader">Import Orders</h6>
  </div>
   <div class="modal-body" id="createStore-body">
   <h2>Hello</h2>
   </div>
   <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>