<!-- show order modal -->
<div id="showOrder{{custom_identifier}}" ng-keydown="handle_keydown($event)" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showOrder"
     aria-hidden="true">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3>Order #{{orders.single.basicinfo.increment_id}} Details</h3>
</div>


<div class="form-horizontal form-horizontal-create" >
<fieldset>
<div class="modal-body" >
<ul class="nav nav-tabs" id="myTab{{custom_identifier}}">
    <li class="active"><a href="" data-target="#infotab{{custom_identifier}}" data-toggle="tab">Information</a></li>
    <li><a href="" data-target="#itemstab{{custom_identifier}}" data-toggle="tab">Items</a></li>
    <li><a href="" data-target="#notestab{{custom_identifier}}" data-toggle="tab">Notes</a></li>
    <li><a href="" data-target="#actexceptab{{custom_identifier}}" data-toggle="tab">Activity & exceptions</a></li>
</ul>


<div class="tab-content">
<div class="tab-pane active" id="infotab{{custom_identifier}}">
    <fieldset>
        <legend>Product Details</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">First Name</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.firstname" ng-blur="update_single_order()" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Name</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.lastname" ng-blur="update_single_order()"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Company</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.company" ng-blur="update_single_order()"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address line 1</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.address_1" ng-blur="update_single_order()"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address line 2</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.address_2" ng-blur="update_single_order()" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">City</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.city" ng-blur="update_single_order()"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">State</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.state" ng-blur="update_single_order()"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Zip</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.postcode" ng-blur="update_single_order()"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Country</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.country" ng-blur="update_single_order()"  />
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">Order #</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.increment_id" ng-blur="update_single_order()"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Buyer Email</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.email" ng-blur="update_single_order()"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Store Order id</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.store_order_id" ng-blur="update_single_order()"  />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Order Date</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.order_placed_time" cng-blur="update_single_order()"  />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Shipping Information</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">Scanned on</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.scanned_on" ng-blur="update_single_order()"  />
                    </div>
                </div>

            </div>
            <div class="span6">

                <div class="control-group">
                    <label class="control-label">Tracking id #</label>
                    <div class="controls">
                        <input xs-input-sync type="text" ng-model="orders.single.basicinfo.tracking_num" ng-blur="update_single_order()"  />
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
</div>


<div class="tab-pane" id="itemstab{{custom_identifier}}">
    <div class="control-group pull-right" ng-show="orders.single.remove_items_permitted">
        <div class="controls">
            <button class="btn btn-danger" ng-click="item_remove_selected()">Remove selected Items</button>
        </div>
    </div>


    <table class="table table-hover table-bordered" >
        <thead>
        <tr >
            <th>Product</th>
            <th>Primary Image</th>
            <th>Primary SKU</th>
            <th>Primary Warehouse</th>
            <th>Qty ordered</th>
            <th>On hand</th>
            <th>Is Skippable</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in orders.single.items" ng-click="item.checked = !item.checked" ng-class="{info: item.checked}">
            <td groov-editable="itemEditableOptions" ng-model="item.productinfo" prop="name" identifier="item-sku-{{$index}}"><a href="" ng-click="function(ngModel.id,'auto',0,true)" >{{ ngModel[prop] }}</a></td>
            <td> <div class="single-image"><img class="img-thumb" ng-src="{{item.productimages[0].image}}" /></div></td>
            <td groov-editable="itemEditableOptions" ng-model="item" prop="sku" identifier="item-sku-{{$index}}"></td>
            <td groov-editable="itemEditableOptions" ng-model="item" prop="location" identifier="item-qty-{{$index}}"></td>
            <td groov-editable="itemEditableOptions" ng-model="item.iteminfo" prop="qty" identifier="item-qty-{{$index}}" ></td>
            <td groov-editable="itemEditableOptions" ng-model="item" prop="qty_on_hand" identifier="item-qoh-{{$index}}"></td>
            <td ng-click="save_item(item.productinfo,'is_skippable')"><input type="checkbox" ng-model="item.productinfo.is_skippable"/></td>
        </tr>
        </tbody>
    </table>
    <div class="control-group pull-right"  ng-show="orders.single.add_items_permitted">
        <div class="controls">
            <button class="btn" ng-click="item_order('order',item_products.list)">Add Item</button>
        </div>
    </div>
</div>
<div class="tab-pane" id="notestab{{custom_identifier}}">
    <fieldset>
        <legend>Internal Notes</legend>
        <textarea xs-input-sync ng-model="orders.single.basicinfo.notes_internal" ng-blur="update_single_order()"  class="span8" rows="4"></textarea>
    </fieldset>
    <fieldset>
        <legend>Notes to Packer</legend>
        <textarea xs-input-sync ng-model="orders.single.basicinfo.notes_toPacker" ng-blur="update_single_order()"  class="span8" rows="4"></textarea>
    </fieldset>
    <fieldset>
        <legend>Notes from Packer</legend>
        <textarea xs-input-sync ng-model="orders.single.basicinfo.notes_fromPacker" ng-blur="update_single_order()"  class="span8" rows="4"></textarea>
    </fieldset>
    <fieldset>
        <legend>Customer Comments</legend>
        <textarea xs-input-sync ng-model="orders.single.basicinfo.customer_comments" ng-blur="update_single_order()"  class="span8" rows="4"></textarea>
    </fieldset>
</div>
<div class="tab-pane" id="actexceptab{{custom_identifier}}">

    <div class="row-fluid">
        <div class="span6">
            <fieldset>
                <legend>Activity Log</legend>
                <div class="control-group" ng-repeat="activity in orders.single.activities">
                    <h5>{{ activity.activitytime | date:'EEEE MM/dd/yyyy hh:mm:ss a'}}</h5>
                    <div class="controls">
                        {{ activity.action}} - by: {{ activity.username }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="span6">
            <fieldset>
                <legend>Packing Exceptions</legend>
                <div class="control-group">
                    <label class="control-label">Reason</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" ng-model="orders.single.exception.reason" value="qty_related" /> Quantity Related
                        </label>
                        <label class="radio">
                            <input type="radio" ng-model="orders.single.exception.reason" value="incorrect_item" /> Incorrect item
                        </label>
                        <label class="radio">
                            <input type="radio" ng-model="orders.single.exception.reason" value="missing_item" /> Missing item
                        </label>
                        <label class="radio">
                            <input type="radio" ng-model="orders.single.exception.reason" value="damaged_item" /> Damaged item
                        </label>
                        <label class="radio">
                            <input type="radio" ng-model="orders.single.exception.reason" value="special_instruction" /> Special instruction related
                        </label>
                        <label class="radio">
                            <input type="radio" ng-model="orders.single.exception.reason" value="other" /> Other
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Description (optional)</label>
                    <div class="controls">
                        <textarea xs-input-sync ng-model="orders.single.exception.description" class="span8" rows="4"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Associate exception with</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio"  ng-model="orders.single.exception.assoc" value="current" /> Current user
                        </label>
                        <label class="radio">
                            <input type="radio"  ng-model="orders.single.exception.assoc" value="none" /> No user
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary" ng-click="update_order_exception()">Record Exception</button>
                <button class="btn btn-danger" ng-click="clear_order_exception()">Clear Exception</button>
            </fieldset>
        </div>
    </div>

</div>

</div>
</div>

<div class="modal-footer">
    <div class="row-fluid">
        <div class="span12">
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="update_single_order(false)">Save</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

</fieldset>
</div>
</div>

<div groov-product-modal groov-products="item_products" groov-single-product="product_single_details"></div>
<div groov-alias-modal="item_order"></div>
