<!-- Modal for product and kit details -->
<div ng-keydown="handle_keydown($event)" id="showProduct{{custom_identifier}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showProduct{{custom_identifier}}"
     aria-hidden="true">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3>Editing: {{groovProducts.single.skus[0].sku}} - ID #{{groovProducts.single.basicinfo.id}}</h3>
</div>
<div class="form-horizontal form-horizontal-create">
<fieldset>
<div class="modal-body" >
<table class="product_single_top_table">
    <tr>
        <td>
            <h4>{{groovProducts.single.basicinfo.name}}</h4>
            <h4>SKU# {{groovProducts.single.skus[0].sku}}</h4>
        </td>
        <td class="span6">
            <p ng-show="groovProducts.single.basicinfo.is_kit==0">
                <i class="icon-large icon-suitcase"></i>
                <a href="" ng-click="groovProducts.single.basicinfo.is_kit=1;update_single_product();">Change this product to
                    a kit</a>
            </p>

            <p ng-show="groovProducts.single.basicinfo.is_kit==1">
                <i class="icon-large icon-reply"></i>
                <a href="" ng-click="groovProducts.single.basicinfo.is_kit=0;update_single_product();">Change this kit back to
                    a product</a>
            </p>

            <p ng-show="groovProducts.single.basicinfo.is_kit==0">
                <i class="icon-large icon-paste"></i>
                <a href="" ng-click="product_alias('alias',[],groovProducts.single.basicinfo.id)">Make this product an alias of another product</a>
            </p>
        </td>
        <td>
            <h5>Status </h5>
            <label class="radio"><input type="radio" ng-click="update_single_product()"
                                        ng-model="groovProducts.single.basicinfo.status" value="active"> Active </label>
            <label class="radio"><input type="radio" ng-click="update_single_product()"
                                        ng-model="groovProducts.single.basicinfo.status" value="inactive"> Inactive </label>
            <label class="radio"><input type="radio" ng-click="update_single_product()"
                                        ng-model="groovProducts.single.basicinfo.status" value="new"> New </label>
        </td>
    </tr>
</table>

<h5>Product Images</h5>

<div class="control-group">
    <div ui-sortable="arrayEditableOptions.sortableOptions" ng-model="groovProducts.single.images">
        <div class="single-image" ng-class="{'primary-image': $index==0}" ng-repeat="image in groovProducts.single.images">
            <img ng-src="{{ image.image }}" class="img-polaroid img-thumb"/>
            <i class="icon-remove" ng-click="remove_image($index)"></i>
        </div>
    </div>
    <div ng-hide="true">
        <input name="product_image" id="product_image{{custom_identifier}}" file-upload type="file" value="Add Image" required/>
    </div>
    <button class="btn" ng-click="add_image()">Add Image</button>
</div>

<h5>Product Details</h5>

<div class="control-group">
    <label class="control-label">Name</label>

    <div class="controls">
        <input type="text" ng-model="groovProducts.single.basicinfo.name" ng-blur="update_single_product()" class="span8"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label">SKUs</label>

    <div class="controls">
        <div groov-editable="arrayEditableOptions"  prop="sku" identifier="product_single_skus" ng-model="groovProducts.single.skus" class="pull-left"></div>
        <i class="icon-large  icon-question-sign" data-toggle="popover" data-placement="top" data-content="The first SKU listed is the Primary SKU.
                                 It will be displayed during packing. Additional alias SKUs can be added by comma or enter."
           data-original-title=""></i>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Special instructions for Packer</label>

    <div class="controls">
        <textarea ng-model="groovProducts.single.basicinfo.spl_instructions_4_packer" ng-blur="update_single_product()" class="span8" rows="4"></textarea>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Packer Confirmation</label>

    <div class="controls">
        <label class="radio inline">
            <input type="radio" ng-click="update_single_product()"
                   ng-model="groovProducts.single.basicinfo.spl_instructions_4_confirmation" value="1"/> Required
        </label>
        <label class="radio inline">
            <input type="radio" ng-click="update_single_product()"
                   ng-model="groovProducts.single.basicinfo.spl_instructions_4_confirmation" value="0"/> Not Required
        </label>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Barcodes</label>

    <div class="controls">
        <div groov-editable="arrayEditableOptions" identifier="product_single_barcodes" prop="barcode" ng-model="groovProducts.single.barcodes" class="pull-left"></div>
        <label ng-show="groovProducts.single.barcodes == ''" class="checkbox inline">
            <input type="checkbox" ng-click="update_single_product()"
                   ng-model="groovProducts.single.basicinfo.disable_conf_req"/> Disable Confirmation Requests
        </label>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Product can be skipped</label>

    <div class="controls">
        <label class="radio inline">
            <input type="radio" ng-click="update_single_product()" ng-model="groovProducts.single.basicinfo.is_skippable"
                   value="1"/> Yes
        </label>
        <label class="radio inline">
            <input type="radio" ng-click="update_single_product()" ng-model="groovProducts.single.basicinfo.is_skippable"
                   value="0"/> No
        </label>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Categories</label>

    <div class="controls">
        <div groov-editable="arrayEditableOptions" identifier="product_single_cats" prop="category" ng-model="groovProducts.single.cats" class="pull-left"></div>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Packing placement</label>

    <div class="controls">
        <input type="number" min="1" max="100" ng-blur="update_single_product()" ng-model="groovProducts.single.basicinfo.packing_placement"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Packing time adjustment</label>

    <div class="controls">
        <input type="number" ng-blur="update_single_product()" ng-model="groovProducts.single.basicinfo.pack_time_adj"/>
    </div>
</div>
<h5>Inventory and Location by Warehouses</h5>
<table class="table table-hover table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Warehouse Name</th>
        <th>Quantity on Hand</th>
        <th>Primary Location</th>
        <th>Secondary Location</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="warehouse in groovProducts.single.inventory_warehouses" ng-class="{info:warehouse.checked}"
        ng-click="warehouse.checked = !warehouse.checked">
        <td groov-editable="editableOptions" ng-model="warehouse" prop="name" identifier="warehouse-name-{{$index}}"></td>
        <td groov-editable="editableOptions" ng-model="warehouse" prop="qty" identifier="warehouse-qty-{{$index}}"></td>
        <td groov-editable="editableOptions" ng-model="warehouse" prop="location_primary" identifier="warehouse-location_primary-{{$index}}"></td>
        <td groov-editable="editableOptions" ng-model="warehouse" prop="location_secondary" identifier="warehouse-location_secondary-{{$index}}"></td>
    </tr>
    </tbody>
</table>
<button class="btn btn-success" ng-click="add_warehouse()">Add warehouse</button>
<button ng-click="remove_warehouses()" class="btn btn-danger">Remove selected</button>
<fieldset ng-show="groovProducts.single.basicinfo.is_kit==1">
    <legend>Kit Options</legend>
    <table class="table table-hover table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Item SKU</th>
            <th>Quantity in Kit</th>
            <th>Quantity on Hand</th>
            <th>Packing Order</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="kit_sku in groovProducts.single.productkitskus" ng-class="{info:kit_sku.checked}"
            ng-click="kit_sku.checked = !kit_sku.checked">
            <td groov-editable="kitEditableOptions" ng-model="kit_sku" prop="name" identifier="kit_sku-name-{{$index}}"><a href="" ng-click="function(ngModel.option_product_id,0,0,true)">{{ngModel[prop]}}</a></td>
            <td groov-editable="kitEditableOptions" ng-model="kit_sku" prop="sku" identifier="kit_sku-sku-{{$index}}"></td>
            <td groov-editable="kitEditableOptions" ng-model="kit_sku" prop="qty" identifier="kit_sku-qty-{{$index}}"></td>
            <td groov-editable="kitEditableOptions" ng-model="kit_sku" prop="qty_on_hand" identifier="kit_sku-qty_on_hand-{{$index}}"></td>
            <td groov-editable="kitEditableOptions" ng-model="kit_sku" prop="packing_order" identifier="kit_sku-packing_order-{{$index}}"></td>
        </tr>
        </tbody>
    </table>


    <button class="btn btn-success" ng-click="product_alias('kit',kit_products.list,groovProducts.single.basicinfo.id)">Add product to kit</button>
    <button ng-click="remove_skus_from_kit()" class="btn btn-danger">Remove selected</button>
    <h5>This Kit Should</h5>

    <div class="control-group">
        <div class="controls">
            <label class="radio">
                <input type="radio" ng-click="update_single_product()" ng-model="groovProducts.single.basicinfo.kit_parsing"
                       value="single"/> Always be scanned as single SKU
            </label>
            <label class="radio">
                <input type="radio" ng-click="update_single_product()" ng-model="groovProducts.single.basicinfo.kit_parsing"
                       value="individual"/> Always be scanned as individual part SKUs
            </label>
            <label class="radio">
                <input type="radio" ng-click="update_single_product()" ng-model="groovProducts.single.basicinfo.kit_parsing"
                       value="depends"/> Automatically switch as needed when part SKUs are scanned
            </label>
        </div>
    </div>
</fieldset>
</div>
</fieldset>
<div class="modal-footer">
    <div class="row-fluid">
        <div class="span12">
            <div class="pull-right">
                <button ng-click="update_single_product(false)" class="btn btn-primary">Save</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>

</div>
</div>
</div>
<!-- Kit product modal ends -->

<div groov-alias-modal="product_alias"></div>

<div ng-bind-html="kit_modal" compile-template></div>
