<div class="row home-row">

<div class="span3 left-menu">
	<div class="accordion" id="accordion2">
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	        Store Settings
	      </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse in">
	      <div class="accordion-inner">
			<ul class="nav nav-pills nav-stacked">
			  <li class="active" ng-show="current_page=='show_stores' "><a href="#/settings/showstores">Show All</a></li>
			  <li ng-show="current_page!='show_stores' "><a href="#/settings/showstores">Show All</a></li>
			  <li><a href="#/settings/showstores/create" >Create Store</a></li>
			  <li><a href="" role="button" data-toggle="modal" ng-click='import_all_orders()'>Import Orders</a></li>
			</ul>
	      </div>
	    </div>
	  </div>

	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	        Users & Permissions
	      </a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse in">
	      <div class="accordion-inner">
			<ul class="nav nav-pills nav-stacked">
			  <li class="active" ng-show="current_page=='show_users' "><a href="#/settings/showusers">Show All</a></li>
			  <li ng-show="current_page !='show_users' "><a href="#/settings/showusers">Show All</a></li>
			  <li><a href="#/settings/showusers/create">Create User</a></li>
			</ul>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
	        System Settings
	      </a>
	    </div>
	    <div id="collapseThree" class="accordion-body collapse in">
	      <div class="accordion-inner">
              <ul class="nav nav-pills nav-stacked">
                  <li><a href="#/settings/showstores/backup">Backup and Restore</a></li>
                  <li ng-show="current_page !='show_warehouses' "><a href="#/settings/showwarehouses">Warehouse Settings</a></li>
				  <li class="active" 
				  	ng-show="current_page =='show_warehouses' "><a href="#/settings/showwarehouses">Warehouse Settings</a></li>
              </ul>
	      </div>
	    </div>
	  </div>
	</div>

</div>

    <div ui-view></div>
</div>
