  <div class="row">
    <div class="span6">
      <h5>Shipstation Credentials</h5>
      <div ng-show="orderimport_type=='apiimport' ">
        <div class="control-group">
          <label class="control-label">Username</label>
          <div class="controls">
            <input name="username" xs-input-sync ng-model="" type="text" value="" required/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Password</label>
          <div class="controls">
            <input name="password" xs-input-sync ng-model="" type="text" value="" required/>
          </div>
        </div>
      </div>
    </div>
  </div>