<div class="span8">
<div class="well">
<div class="row-fluid">
  <div class="span7">
    <form class="form-search">
      <input type="text" ng-model="usernameFilter" id="user-search-query" class="input-large search-query" placeholder="Search">
    </form>
  </div>
  <div class="span5">
  <ul class="nav nav-pills">
    <li class="dropdown">
      <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="">Change Status
         <b class="caret"></b></a>
      <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="handle_change_status('active')">Active</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="handle_change_status('inactive')">Inactive</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="">Edit <b class="caret"></b></a>
      <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="handle_user_delete_event()">Delete</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="handle_user_duplicate_event()">Duplicate</a></li>
      </ul>
    </li>
  </ul>
  </div>
</div>
	<table id="userstbl" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th><input ng-model="select_deselectall" type="checkbox" ng-change='select_deselectall_event()' /></th>
          <th ng-class="{active:predicate=='username'}"><a href="" ng-click="handlesort('username')" ng-class="{ASC:!reverse, DESC:reverse}">Username</a></th>
          <th ng-class="{active:predicate=='active'}"><a href="" ng-click="handlesort('active')" ng-class="{ASC:!reverse, DESC:reverse}">Status</a></th>
          <th ng-class="{active:predicate=='last_sign_in_at'}"><a href="" ng-click="handlesort('last_sign_in_at')" ng-class="{ASC:!reverse, DESC:reverse}">Last Login</a></th>
          <th ng-class="{active:predicate=='online'}"><a href="" ng-click="handlesort('online')" ng-class="{ASC:!reverse, DESC:reverse}">Online</a></th>
          <th ng-class="{active:predicate=='role.name'}"><a href="" ng-click="handlesort('role.name')" ng-class="{ASC:!reverse, DESC:reverse}">Type</a></th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users | filter: usernameFilter | orderBy:predicate:reverse">
      	<td><input type="checkbox" ng-model="user.checked"/></td>
      	<td>
            <span ng-if="current_user.can('add_edit_users')">
                <a href="" role="button" data-toggle="modal" ng-click="getuserinfo(user.id,$index)">{{user.username}}</a>
            </span>
            <span ng-if="!current_user.can('add_edit_users')">{{user.username}}</span>
        </td>
      	<td>
      		<span ng-show="user.active" class="active">Active</span>
      		<span ng-hide="user.active" class="inactive">Inactive</span>
      	</td>
      	<td>{{user.last_sign_in_at}}</td>
      	<td>
      		<span ng-show="user.online" class="active">Online</span>
      		<span ng-hide="user.online" class="inactive">Not Online</span>
      	</td>
      	<td>
      		<span ng-show="user.role.display">{{user.role.name}}</span>
            <span ng-hide="user.role.display">Custom</span>
      	</td>
      </tr>

      </tbody>
	</table>
</form>
</div>

<!-- Modal popup for creating user -->
<div id="createUser{{custom_identifier}}" ng-keydown="keyboard_nav_event($event)" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createUser"
aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="createUserheader" ng-show="edit_status">Currently Updating {{newUser.name}}</h3>
    <h3 id="createUserheader" ng-hide="edit_status">Create User</h3>
    <div><h4 id="createUserheader" ng-hide="edit_status">Currently Updating </h4></div>
  </div>



 <div class="form-horizontal form-horizontal-create" >
  <fieldset>
  <div class="modal-body" id="createUser-body">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="" data-target="#userinfotab" data-toggle="tab">User Info</a></li>
    <li><a href="" data-target="#productstab" data-toggle="tab">Products</a></li>
    <li><a href="" data-target="#orderstab" data-toggle="tab">Orders</a></li>
    <li><a href="" data-target="#usertab" data-toggle="tab">User</a></li>
    <li><a href="" data-target="#systemtab" data-toggle="tab">System</a></li>
  </ul>



 <div class="tab-content">
  <div class="tab-pane active" id="userinfotab">
    <div class="row-fluid">
        <div class="span6">

            <legend>Basic User Info</legend>
          <input type="hidden" ng-model="newUser.id" ng-show="edit_status"/>
            <div class="control-group">
              <label class="control-label">Username</label>
              <div class="controls">
                <input name="username" ng-blur="submit()" ng-model="newUser.username" type="text" value="" required/>
               </div>
            </div>

            <div class="control-group">
              <label class="control-label">Name</label>
              <div class="controls">
                <input name="name" ng-blur="submit()" ng-model="newUser.name" type="text" required/>
               </div>
            </div>

            <div class="control-group">
              <label class="control-label">Password</label>
              <div class="controls" ng-show="show_password">
                <input name="password" ng-blur="submit()" ng-model="newUser.password" type="password" />
               </div>
               <div class="controls" ng-hide="show_password">
                <a href="" ng-click='change_password()'> Change Password</a>
               </div>
            </div>

            <div class="control-group">
              <label class="control-label">Email</label>
              <div class="controls">
                <input name="email" ng-blur="submit()" ng-model="newUser.email" type="text"/>
               </div>
            </div>

            <div class="control-group">
              <label class="control-label">Other</label>
              <div class="controls">
                <input name="other1" ng-blur="submit()" ng-model="newUser.other" type="text"/>
               </div>
            </div>

            <div class="control-group">
              <label class="control-label">Active</label>
              <div class="controls">
                <input name="active" ng-change="submit()" ng-model="newUser.active" type="checkbox"/>
                <span> User is active</span>
               </div>
            </div>

            <div class="control-group">
              <label class="control-label">Confirmation Code</label>
              <div class="controls">
                <input name="confirmation_code" ng-blur="submit()" ng-model="newUser.confirmation_code" type="text" required/>
              </div>
            </div>
        </div>
        <div class="span6">
            <legend>Apply and Manage Roles</legend>
            <div class="control-group">
                <label class="control-label">Role</label>
                <div class="controls">
                    <select ng-model="selectedRole" ng-change="set_selected_role($event)" ng-options="role.name for role in userRoles">
                        <option value="">Custom</option>
                    </select>
                </div>
            </div>
            <div ng-show="selectedRole == null" class="control-group">
                <label class="control-label">Select Base Role to customize</label>
                <div class="controls span4">
                    <table class="table table-hover table-bordered">
                        <tr ng-repeat="role in userRoles" ng-click="set_base_role(role)">
                            <td>{{role.name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-show="!showSelectBaseRole && selectedRole == null"  class="control-group">
                <label class="control-label">Save new Role</label>
                <div class="controls">
                    <input type="text" ng-model="newUser.role.new_name" placeholder="Role name" />
                    <btn class="btn btn-success" ng-click="make_new_role()">Save</btn>
                </div>
            </div>

            <div ng-show="!showSelectBaseRole && selectedRole != null && newUser.role.custom && newUser.role.display"  class="control-group">
                <label class="control-label">Delete current Role</label>
                <div class="controls">
                    <btn class="btn btn-danger" ng-click="delete_role()">Delete</btn>
                </div>
            </div>

        </div>
      </div>
  </div>
  <div class="tab-pane createuser-tab" id="productstab">
    <div class="control-group">
      <label class="control-label">
      Add and Edit Products and Edit Product Status
      </label>
      <div class="controls">
      	<input name="add_edit_products" ng-change="submit()" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-model="newUser.role.add_edit_products" type="checkbox" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Delete products</label>
      <div class="controls">
        <input name="delete_products" ng-model="newUser.role.delete_products" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" />
       </div>
    </div>

    <div class="control-group">
      <label class="control-label">Import products</label>
      <div class="controls">
        <input name="import_products" ng-model="newUser.role.import_products" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox"/>
       </div>
    </div>

  </div>

  <div class="tab-pane createuser-tab" id="orderstab">
    <div class="row-fluid">
        <div class="span6">
            <legend>Order Settings</legend>
            <div class="control-group">
              <label class="control-label">Add/edit order items</label>
              <div class="controls">
                  <input name="add_edit_order_items" ng-model="newUser.role.add_edit_order_items" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Import orders</label>
              <div class="controls">
                <input name="import_orders" ng-model="newUser.role.import_orders" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Change Order Status</label>
              <div class="controls">
                <input name="change_order_status" ng-model="newUser.role.change_order_status" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" />
               </div>
            </div>

            <div class="control-group">
              <label class="control-label">Create/edit notes from/to Packer</label>
              <div class="controls">
                <input name="create_edit_notescreate_edit_notes" ng-model="newUser.role.create_edit_notes" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" />
               </div>
            </div>
        </div>
        <div class="span6">
            <legend>Order activity & Packing exceptions</legend>
            <div class="control-group">
              <label class="control-label">View packing exceptions</label>
              <div class="controls">
                <input name="view_packing_ex" ng-model="newUser.role.view_packing_ex" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox"/>
               </div>
            </div>

            <div class="control-group">
              <label class="control-label">Record packing exceptions</label>
              <div class="controls">
                <input name="create_packing_ex" ng-model="newUser.role.create_packing_ex" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
               </div>
            </div>
            <div class="control-group">
              <label class="control-label">Edit existing packing exceptions</label>
              <div class="controls">
                <input name="edit_packing_ex" ng-model="newUser.role.edit_packing_ex" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
               </div>
            </div>
        </div>
      </div>
  </div>
  <div class="tab-pane createuser-tab" id="usertab">
	<div class="row-fluid">
        <div class="span6">
            <legend>User permissions</legend>
            <div class="control-group">
                <label class="control-label">Can make super admins</label>
                <div class="controls">
                    <input name="make_super_admin" ng-model="newUser.role.make_super_admin" ng-disabled="selectedRole!=null || showSelectBaseRole==true"  ng-change="submit()"  type="checkbox" />
                </div>
            </div>
            <div class="control-group">
              <label class="control-label">Add and edit users</label>
              <div class="controls">
                <input name="add_edit_users" ng-model="newUser.role.add_edit_users" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
               </div>
            </div>


        </div>
        <div class="span6">
            <legend>Section access</legend>

            <div class="control-group">
                <label class="control-label">Settings</label>
                <div class="controls">
                    <input name="access_settings" ng-model="newUser.role.access_settings" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
                </div>
            </div>

            <div class="control-group">
              <label class="control-label">Scan &amp; Pack</label>
              <div class="controls">
                <input name="access_scanpack" ng-model="newUser.role.access_scanpack" ng-change="submit()"  type="checkbox" disabled/>
               </div>
            </div>

            <div class="control-group">
              <label class="control-label">Orders</label>
              <div class="controls">
                <input name="access_orders" ng-model="newUser.role.access_orders" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
               </div>
            </div>
            <div class="control-group">
              <label class="control-label">Products</label>
              <div class="controls">
                <input name="access_products" ng-model="newUser.role.access_products" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
               </div>
            </div>
        </div>
      </div>
  </div>
  <div class="tab-pane createuser-tab" id="systemtab">
    <legend>System settings permissions</legend>
    <div class="control-group">
      <label class="control-label">Edit General Preferences</label>
      <div class="controls">
        <input name="edit_general_prefs" ng-model="newUser.role.edit_general_prefs" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
       </div>
    </div>
    <div class="control-group">
      <label class="control-label">Edit Scan and pack Preferences</label>
      <div class="controls">
        <input name="edit_scanning_prefs" ng-model="newUser.role.edit_scanning_prefs" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
       </div>
    </div>
    <div class="control-group">
        <label class="control-label">Create, Edit and Delete Stores</label>
        <div class="controls">
            <input name="add_edit_stores" ng-model="newUser.role.add_edit_stores" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
        </div>
    </div>
      <div class="control-group">
          <label class="control-label">Create Backups</label>
          <div class="controls">
              <input name="create_backups" ng-model="newUser.role.create_backups" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
          </div>
      </div>
      <div class="control-group">
          <label class="control-label">Restore Backups</label>
          <div class="controls">
              <input name="restore_backups" ng-model="newUser.role.restore_backups" ng-disabled="selectedRole!=null || showSelectBaseRole==true" ng-change="submit()"  type="checkbox" checked/>
          </div>
      </div>
  </div>
  </div>
</div>

  <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-hide="edit_status">Add User</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-show="edit_status">Save & close</button>
        <button class="btn" data-dismiss="modal" ng-click="rollback()" aria-hidden="true">Cancel</button>
  </div>

</fieldset>
</div>
</div>
</div>
<div ui-view></div>
