<div class="row navigation-row">
    <div ng-include="'/assets/partials/navigation.html'"></div>
</div>

<div  class="row home-row">
    <div class="alert alert-danger" ng-show="show_error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{error_msg}}</p>
    </div>
</div>

<div class="row home-row">
    <div class="span3 left-menu">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Products
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="product_setup-filter product_setup-filter-all" ><a href="" ng-click="product_setup_opt('filter','all')">Show All</a></li>
                            <li class="product_setup-filter product_setup-filter-active"><a href="" ng-click="product_setup_opt('filter','active')">Active Products</a></li>
                            <li class="product_setup-filter product_setup-filter-inactive"><a href="" ng-click="product_setup_opt('filter','inactive')">Inactive Products</a></li>
                            <li class="product_setup-filter product_setup-filter-new"><a href="" ng-click="product_setup_opt('filter','new')">New</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                       Kit
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            <li>Not Available</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Categories
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            <li>Not Available</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <table id="productstbl" class="table table-hover table-bordered span8" infinite-scroll="product_next()">
        <thead>
        <tr>
            <th><a href="" ng-click="product_setup_opt('sort','name')">Item Name<span ng-show="product_setup.sort=='name'"><span ng-show="product_setup.order=='DESC'" class="product-down-caret"></span><span ng-show="product_setup.order=='ASC'" class="product-up-caret"></span></span></a></th>
            <th><a href="" ng-click="product_setup_opt('sort','sku')">Sku<span ng-show="product_setup.sort=='sku'"><span ng-show="product_setup.order=='DESC'" class="product-down-caret"></span><span ng-show="product_setup.order=='ASC'" class="product-up-caret"></span></span></a></th>
            <th><a href="" ng-click="product_setup_opt('sort','status')">Status<span ng-show="product_setup.sort=='status'"><span ng-show="product_setup.order=='DESC'" class="product-down-caret"></span><span ng-show="product_setup.order=='ASC'" class="product-up-caret"></span></span></a></th>
            <th><a href="" ng-click="product_setup_opt('sort','barcode')">Barcode<span ng-show="product_setup.sort=='barcode'"><span ng-show="product_setup.order=='DESC'" class="product-down-caret"></span><span ng-show="product_setup.order=='ASC'" class="product-up-caret"></span></span></a></th>
            <th><a href="" ng-click="product_setup_opt('sort','location_primary')">Location<span ng-show="product_setup.sort=='location_primary'"><span ng-show="product_setup.order=='DESC'" class="product-down-caret"></span><span ng-show="product_setup.order=='ASC'" class="product-up-caret"></span></span></a></th>
            <th><a href="">Store Type</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td>{{product.sku.sku}}</td>
            <td>{{product.status}}</td>
            <td>{{product.barcode}}</td>
            <td>{{product.location}} </td>
            <td>{{product.store_type}} </td>
        </tr>
        </tbody>
    </table>
</div>