<div class="row navigation-row">
<div ng-include="'/assets/partials/navigation.html'"></div>
</div>
<div groov-common groov-notif="notify" groov-import="import_all_orders"></div>

<div class="row home-row">
<div ng-include="'/assets/partials/settings.html'"></div>

<div class="span8">
<div class="well">
<div class="row-fluid">
  <div class="span6">
    <form class="form-search">
      <input type="text" ng-model="usernameFilter" id="user-search-query" class="input-large search-query" placeholder="Search">
    </form>
  </div>
  <div class="span6">
  <ul class="nav nav-pills">
    <li class="dropdown">
      <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="">Change Status
         <b class="caret"></b></a>
      <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="handle_change_status('active')">Active</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="handle_change_status('inactive')">Inactive</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="" ng-click="delete_warehouses()">Delete </a>
    </li>
    <li>
      <a role="button" href="" ng-click="create_warehouse()">Add  Warehouse</a>
    </li>
  </ul>
  </div>
</div>

  <table id="warehousestbl" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th><input ng-model="warehouses.select_deselectall" type="checkbox" ng-change='select_deselectall_event()' /></th>
          <th><a href="">Name</a></th>
          <th><a href="">Location</a></th>
          <th><a href="">Status</a></th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="warehouse in warehouses.list">
        <td><input type="checkbox" ng-model="warehouse.checked"/></td>
        <td><a href="" role="button" data-toggle="modal" ng-click="edit_warehouse(warehouse.info.id)">{{warehouse.info.name}}</a></td>
        <td><span>{{warehouse.info.location}}</span></td>
        <td>

          <span ng-show="warehouse.info.status=='active'" class="active">Active</span>
          <span ng-show="warehouse.info.status=='inactive'" class="inactive">Inactive</span>
        </td>
      </tr>
      </tbody>
  </table>
</form>
</div>

<!-- Modal popup for creating user -->
<div id="createWarehouse{{custom_identifier}}" ng-keydown="keyboard_nav_event($event)" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createWarehouse"
aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="createUserheader" ng-show="edit_status">Update Warehouse</h3>
    <h3 id="createUserheader" ng-hide="edit_status">Create Warehouse</h3>
  </div>


 <div class="form-horizontal form-horizontal-create" >
  <fieldset>
  <div class="modal-body" id="createWarehouse-body">
    <div class="control-group">
      <label class="control-label">Name </label>
      <div class="controls">
        <input name="name" ng-model="warehouses.single.inv_wh_info.name" type="text" required/>
       </div>
    </div>

    <div class="control-group">
      <label class="control-label">Location</label>
      <div class="controls">
        <input name="location" ng-model="warehouses.single.inv_wh_info.location" type="text" />
       </div>
    </div>

    <div class="control-group">
      <label class="control-label">Status</label>
      <div class="controls">
        <label class="radio inline">
          <input type="radio" ng-model="warehouses.single.inv_wh_info.status" value="active" />  Active
        </label>
        <label class="radio inline">
          <input type="radio" ng-model="warehouses.single.inv_wh_info.status" value="inactive" /> Inactive
        </label>
       </div>
    </div>
  </div>

  <hr/>
  <!-- Associated Users -->
  <div class="control-group">
    <label class="control-label">Associated Users</label>
    <div class="controls">
      <div class="row-fluid">
        <div class="span4">
          <ul class="nav nav-tabs nav-stacked">
              <li  ng-repeat="user in warehouses.available_users" id='user{{user.user_info.id}}' 
              ng-click="select_toggle_user($index, user.user_info.id)" ng-class="{active:user.checked == true}">
                <a href="">{{user.user_info.name}}</a>
              </li>
          </ul>
        </div>
      </div>
     </div>
  </div>


  <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-hide="edit_status" ng-click="submit()">
          Add Warehouse</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-show="edit_status" ng-click="submit()">Save & close</button>
        <button class="btn" data-dismiss="modal" ng-click="rollback()" aria-hidden="true">Cancel</button>
  </div>

</fieldset>
</div>
</div>
</div>
</div>
