<div class="row navigation-row">
    <div ng-include="'/assets/partials/navigation.html'"></div>
</div>
<div groov-common groov-notif="notify" groov-import="import_all_orders"></div>
<div groov-order-modal groov-orders="orders" groov-single-order="order_single_details"></div>

<div class="row home-row">
    <div class="span3 left-menu">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="" data-target="#collapseOne">
                        Orders
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="{active:orders.setup.filter=='all'}" ><a href="" ng-click="order_setup_opt('filter','all')">Show All</a></li>
                            <li ng-class="{active:orders.setup.filter=='awaiting'}" ><a href="" ng-click="order_setup_opt('filter','awaiting')">Awaiting</a></li>
                            <li ng-class="{active:orders.setup.filter=='onhold'}"><a href="" ng-click="order_setup_opt('filter','onhold')">On Hold</a></li>
                            <li ng-class="{active:orders.setup.filter=='serviceissue'}"><a href="" ng-click="order_setup_opt('filter','serviceissue')">Service Issue</a></li>
                            <li ng-class="{active:orders.setup.filter=='cancelled'}"><a href="" ng-click="order_setup_opt('filter','cancelled')">Cancelled</a></li>
                            <li ng-class="{active:orders.setup.filter=='scanned'}"><a href="" ng-click="order_setup_opt('filter','scanned')">Scanned</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="span8">
        <div class="well scroll-x">
            <div class="row-fluid">
                <div class="span8">
                    <form class="form-search">
                        <input type="text" id="order-search-query" ng-model="orders.setup.search" class="input-large search-query" placeholder="Search">
                    </form>
                </div>
                <div class="span4">
                    <ul class="nav nav-pills">
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="">Edit <b class="caret"></b></a>
                            <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_delete()">Delete</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_duplicate()">Duplicate</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="">Change Status
                                <b class="caret"></b></a>
                            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_change_status('awaiting')">Awaiting</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_change_status('onhold')">On Hold</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_change_status('serviceissue')">Service Issue</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_change_status('cancelled')">Cancelled</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_change_status('scanned')">Scanned</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div groov-data-grid="gridOptions" groov-list="orders.list" infinite-scroll="order_next()"></div>
           <!-- <table id="orderstbl" groov-data-grid="gridOptions" class="table table-hover table-bordered data-table" infinite-scroll="order_next()">
                <thead>
                <tr>
                    <th class="span1" data-header="checkbox">
                        <input ng-model="orders.setup.select_all" type="checkbox" ng-change='select_all_toggle()' />
                    </th>
                    <th class="dragtable-sortable span1" data-header="tags">
                        Tags
                    </th>
                    <th class="dragtable-sortable span1" data-header="store_name" ng-class="{active:orders.setup.sort=='store'}">
                        <a href="" ng-click="handlesort('store')" ng-class="orders.setup.order">Store</a>
                    </th>
                    <th class="dragtable-sortable span1" data-header="notes" ng-class="{active:orders.setup.sort=='notes'}">
                        <a href="" ng-click="handlesort('notes')" ng-class="orders.setup.order">Notes</a>
                    </th>
                    <th class="dragtable-sortable span2" data-header="ordernum" ng-class="{active:orders.setup.sort=='store_order_id'}">
                        <a href="" ng-click="handlesort('store_order_id')" ng-class="orders.setup.order">Order #</a>
                    </th>
                    <th class="dragtable-sortable span2" data-header="orderdate" ng-class="{active:orders.setup.sort=='order_date'}">
                        <a href="" ng-click="handlesort('order_date')" ng-class="orders.setup.order">Order Date</a>
                    </th>
                    <th class="dragtable-sortable span1" data-header="itemslength" ng-class="{active:orders.setup.sort=='items'}">
                        <a href="" ng-click="handlesort('items')" ng-class="orders.setup.order">Items</a>
                    </th>
                    <th class="dragtable-sortable span2" data-header="recipient" ng-class="{active:orders.setup.sort=='recipient'}">
                        <a href="" ng-click="handlesort('recipient')" ng-class="orders.setup.order">Recipient</a>
                    </th>
                    <th class="dragtable-sortable span1" data-header="status" ng-class="{active:orders.setup.sort=='status'}">
                        <a href="" ng-click="handlesort('status')" ng-class="orders.setup.order">Status</a>
                    </th>
                    <th class="dragtable-sortable span2" data-header="email" ng-class="{active:orders.setup.sort=='email'}">
                        <a href="" ng-click="handlesort('email')" ng-class="orders.setup.order">Email</a>
                    </th>
                    <th class="dragtable-sortable span2" data-header="tracking_num" ng-class="{active:orders.setup.sort=='tracking_num'}">
                        <a href="" ng-click="handlesort('tracking_num')" ng-class="orders.setup.order">Tracking Id</a>
                    </th>
                    <th class="dragtable-sortable span2" data-header="city" ng-class="{active:orders.setup.sort=='city'}">
                        <a href="" ng-click="handlesort('city')" ng-class="orders.setup.order">City</a>
                    </th>
                    <th class="dragtable-sortable span1" data-header="state" ng-class="{active:orders.setup.sort=='state'}">
                        <a href="" ng-click="handlesort('state')" ng-class="orders.setup.order">State</a>
                    </th>
                    <th class="dragtable-sortable span2" data-header="postcode" ng-class="{active:orders.setup.sort=='postcode'}">
                        <a href="" ng-click="handlesort('postcode')" ng-class="orders.setup.order">Zip</a>
                    </th>
                    <th class="dragtable-sortable span3" data-header="country" ng-class="{active:orders.setup.sort=='country'}">
                        <a href="" ng-click="handlesort('country')" ng-class="orders.setup.order">Country</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orders.list">
                    <td data-header="checkbox"><input type="checkbox" ng-model="order.checked"/></td>
                    <td data-header="tags" >
                        <div style="width:80px;">
                            <ul class="inline tag-list">
                                <li ng-repeat = "tag in order.tags">
                                    <div class="tag-top-bottom-box" ng-show="tag.mark_place == 1"></div>
                                    <div class="tagbox" ng-style="{background: tag.color}"></div>
                                    <div class="tag-top-bottom-box" ng-show="tag.mark_place == 0"></div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td data-header="store_name">{{order.store_name}}</td>
                    <td data-header="notes" groov-editable="editableOptions" ng-model="order" prop="notes" identifier="orders_list-notes-{{$index}}"></td>
                    <td data-header="ordernum" groov-editable="editableOptions" ng-model="order" prop="ordernum" identifier="orders_list-ordernum-{{$index}}">
                        <a href="" ng-click="function(ngModel.id,'auto',0,true)">{{ngModel.ordernum}}</a>
                    </td>
                    <td data-header="orderdate" groov-editable="editableOptions" ng-model="order" prop="orderdate" identifier="orders_list-orderdate-{{$index}}">
                        {{ngModel.orderdate | date:'EEEE MM/dd/yyyy hh:mm:ss a'}}
                    </td>
                    <td data-header="itemslength">{{order.itemslength}}</td>
                    <td data-header="recipient" groov-editable="editableOptions" ng-model="order" prop="recipient" identifier="orders_list-recipient-{{$index}}"></td>
                    <td data-header="status" groov-editable="editableOptions" ng-model="order" prop="status" identifier="orders_list-status-{{$index}}"></td>
                    <td data-header="email" groov-editable="editableOptions" ng-model="order" prop="email" identifier="orders_list-email-{{$index}}"></td>
                    <td data-header="tracking_num" groov-editable="editableOptions" ng-model="order" prop="tracking_num" identifier="orders_list-tracking_num-{{$index}}"></td>
                    <td data-header="city" groov-editable="editableOptions" ng-model="order" prop="city" identifier="orders_list-city-{{$index}}"></td>
                    <td data-header="state" groov-editable="editableOptions" ng-model="order" prop="state" identifier="orders_list-state-{{$index}}"></td>
                    <td data-header="postcode" groov-editable="editableOptions" ng-model="order" prop="postcode" identifier="orders_list-postcode-{{$index}}"></td>
                    <td data-header="country" groov-editable="editableOptions" ng-model="order" prop="country" identifier="orders_list-country-{{$index}}"></td>
                </tr>
                </tbody>
            </table> -->

        </div>

    </div>
</div>
