<div class="row navigation-row">
    <div ng-include="'/assets/partials/navigation.html'"></div>
</div>
<div groov-common groov-notif="notify" groov-import="import_all_orders"></div>
<div groov-order-modal groov-orders="orders" groov-single-order="order_single_details"></div>

<div class="row home-row">
    <div class="span3 left-menu">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="" data-target="#collapseOne">
                        Orders
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="order_setup-filter order_setup-filter-all" ><a href="" ng-click="order_setup_opt('filter','all')">Show All</a></li>
                            <li class="order_setup-filter order_setup-filter-awaiting" ><a href="" ng-click="order_setup_opt('filter','awaiting')">Awaiting</a></li>
                            <li class="order_setup-filter order_setup-filter-onhold"><a href="" ng-click="order_setup_opt('filter','onhold')">On Hold</a></li>
                            <li class="order_setup-filter order_setup-filter-serviceissue"><a href="" ng-click="order_setup_opt('filter','serviceissue')">Service Issue</a></li>
                            <li class="order_setup-filter order_setup-filter-cancelled"><a href="" ng-click="order_setup_opt('filter','cancelled')">Cancelled</a></li>
                            <li class="order_setup-filter order_setup-filter-scanned"><a href="" ng-click="order_setup_opt('filter','scanned')">Scanned</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="span8">
        <div class="well">
            <div class="row-fluid">
                <div class="span8">
                    <form class="form-search">
                        <input type="text" id="order-search-query" ng-model="order_setup.search" class="input-large search-query" placeholder="Search">
                    </form>
                </div>
                <div class="span4">
                    <ul class="nav nav-pills">
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="">Edit <b class="caret"></b></a>
                            <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_delete()">Delete</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_duplicate()">Duplicate</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="">Change Status
                                <b class="caret"></b></a>
                            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_change_status('awaiting')">Awaiting</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_change_status('onhold')">On Hold</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_change_status('serviceissue')">Service Issue</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_change_status('cancelled')">Cancelled</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="order_change_status('scanned')">Scanned</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <table id="orderstbl" class="table table-hover table-bordered" infinite-scroll="order_next()">
                <thead>
                <tr>
                    <th class="span1" data-header="checkbox">
                        <input ng-model="order_setup.select_all" type="checkbox" ng-change='select_all_toggle()' />
                    </th>
                    <th class="span1 order_setup-sort" data-header="tags">
                        Tags
                    </th>
                    <th class="order_setup-sort order_setup-sort-store span1" data-header="store_name">
                        <a href="" ng-click="order_setup_opt('sort','store')">Store<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-notes span1" data-header="notes">
                        <a href="" ng-click="order_setup_opt('sort','notes')">Notes<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-store_order_id span2" data-header="ordernum">
                        <a href="" ng-click="order_setup_opt('sort','store_order_id')">Order #<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-order_date span2" data-header="orderdate">
                        <a href="" ng-click="order_setup_opt('sort','order_date')">Order Date<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-items span1" data-header="itemslength">
                        <a href="" ng-click="order_setup_opt('sort','items')">Items<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-recipient span2" data-header="recipient">
                        <a href="" ng-click="order_setup_opt('sort','recipient')">Recipient<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-status span1" data-header="status">
                        <a href="" ng-click="order_setup_opt('sort','status')">Status<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-email span2" data-header="email">
                        <a href="" ng-click="order_setup_opt('sort','email')">Email<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-tracking_num span2" data-header="tracking_num">
                        <a href="" ng-click="order_setup_opt('sort','tracking_num')">Tracking Id<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-city span2" data-header="city">
                        <a href="" ng-click="order_setup_opt('sort','city')">City<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-state span1" data-header="state">
                        <a href="" ng-click="order_setup_opt('sort','state')">State<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-postcode span2" data-header="postcode">
                        <a href="" ng-click="order_setup_opt('sort','postcode')">Zip<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                    <th class="order_setup-sort order_setup-sort-country span3" data-header="country">
                        <a href="" ng-click="order_setup_opt('sort','country')">Country<span class="{{'caret-'+order_setup.order}}"></span></a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orders.list">
                    <td data-header="checkbox"><input type="checkbox" ng-model="order.checked"/></td>
                    <td data-header="tags" >
                        <div style="width:80px;">
                            <ul class="inline tag-list">
                                <li ng-repeat = "tag in order.tags">
                                    <div class="tag-top-bottom-box" ng-show="tag.mark_place == 1"></div>
                                    <div class="tagbox" ng-style="{background: tag.color}"></div>
                                    <div class="tag-top-bottom-box" ng-show="tag.mark_place == 0"></div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td data-header="store_name">
                        {{order.store_name}}
                    </td>
                    <td data-header="notes" id="{{'orders_notes_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'notes')">
                        {{order.notes}}
                        <div id="{{'orders_notes_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'notes'" class="tag-bubble tag-bubble-input span2 input-text">
                            <input xs-input-sync class="span2" name="{{'orders_notes_'+$index}}" ng-model="orders_edit_tmp.notes" type="text" placeholder="Edit..." />
                            <i ng-show="orders_edit_tmp.editing != -1" class="icon-ok" ng-click="save_single_node()"></i>
                        </div>
                    </td>
                    <td data-header="ordernum" id="{{'orders_ordernum_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'ordernum')">
                        <a href="" role="button" data-toggle="modal" ng-click="order_single_details(order.id,$index,0,true)" class="ng-binding">{{order.ordernum}}</a>
                        <div id="{{'orders_ordernum_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'ordernum'" class="tag-bubble tag-bubble-input span2 input-text">
                            <input xs-input-sync class="span2" name="{{'orders_ordernum_'+$index}}" ng-model="orders_edit_tmp.ordernum" type="text" placeholder="Edit..." />
                            <i ng-show="orders_edit_tmp.editing != -1 && orders_edit_tmp.ordernum != ''" class="icon-ok" ng-click="save_single_node()"></i>
                        </div>
                    </td>
                    <td data-header="orderdate" id="{{'orders_orderdate_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'orderdate')">
                        {{order.orderdate | date:'EEEE MM/dd/yyyy hh:mm:ss a'}}
                        <div id="{{'orders_orderdate_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'orderdate'" class="tag-bubble tag-bubble-input span2 input-text">
                            <input xs-input-sync class="span2" name="{{'orders_orderdate_'+$index}}" ng-model="orders_edit_tmp.orderdate" type="text" placeholder="Edit..." />
                            <i ng-show="orders_edit_tmp.editing != -1" class="icon-ok" ng-click="save_single_node()"></i>
                        </div>
                    </td>
                    <td data-header="itemslength">
                        {{order.itemslength}}
                    </td>
                    <td data-header="recipient" id="{{'orders_recipient_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'recipient')">
                        {{order.recipient}}
                        <div id="{{'orders_recipient_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'recipient'" class="tag-bubble tag-bubble-input span2 input-text">
                            <input xs-input-sync class="span2" name="{{'orders_recipient_'+$index}}" ng-model="orders_edit_tmp.recipient" type="text" placeholder="Edit..." />
                            <i ng-show="orders_edit_tmp.editing != -1" class="icon-ok" ng-click="save_single_node()"></i>
                        </div>
                    </td>
                    <td data-header="status" id="{{'orders_status_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'status')">
                        {{order.status}}
                        <div id="{{'orders_status_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'status' " class="input-text">
                            <select class="span2" name="{{'orders_status_'+$index}}" ng-model="orders_edit_tmp.status" ng-click="save_single_node()">
                                <option value="awaiting">Awaiting</option>
                                <option value="onhold" >On Hold</option>
                                <option value="serviceissue" >Service Issue</option>
                                <option value="cancelled">Cancelled</option>
                                <option value="scanned">Scanned</option>
                            </select>
                        </div>
                    </td>
                    <td data-header="email" id="{{'orders_email_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'email')">
                        {{order.email}}
                        <div id="{{'orders_email_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'email'" class="tag-bubble tag-bubble-input span2 input-text">
                            <input xs-input-sync class="span2" name="{{'orders_email_'+$index}}" ng-model="orders_edit_tmp.email" type="text" placeholder="Edit..." />
                            <i class="icon-ok" ng-click="save_single_node()"></i>
                        </div>
                    </td>
                    <td data-header="tracking_num" id="{{'orders_tracking_num_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'tracking_num')">
                        {{order.tracking_num}}
                        <div id="{{'orders_tracking_num_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'tracking_num'" class="tag-bubble tag-bubble-input span2 input-text">
                            <input xs-input-sync class="span2" name="{{'orders_tracking_num_'+$index}}" ng-model="orders_edit_tmp.tracking_num" type="text" placeholder="Edit..." />
                            <i class="icon-ok" ng-click="save_single_node()"></i>
                        </div>
                    </td>
                    <td data-header="city" id="{{'orders_city_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'city')">
                        {{order.city}}
                        <div id="{{'orders_city_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'city'" class="tag-bubble tag-bubble-input span2 input-text">
                            <input xs-input-sync class="span2" name="{{'orders_city_'+$index}}" ng-model="orders_edit_tmp.city" type="text" placeholder="Edit..." />
                            <i class="icon-ok" ng-click="save_single_node()"></i>
                        </div>
                    </td>
                    <td data-header="state" id="{{'orders_state_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'state')">
                        {{order.state}}
                        <div id="{{'orders_state_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'state'" class="tag-bubble tag-bubble-input span3 input-text">
                            <input xs-input-sync class="span3" name="{{'orders_state_'+$index}}" ng-model="orders_edit_tmp.state" type="text" placeholder="Edit..." />
                            <i class="icon-ok" ng-click="save_single_node()"></i>
                        </div>
                    </td>
                    <td data-header="postcode" id="{{'orders_postcode_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'postcode')">
                        {{order.postcode}}
                        <div id="{{'orders_postcode_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'postcode'" class="tag-bubble tag-bubble-input span3 input-text">
                            <input xs-input-sync class="span3" name="{{'orders_postcode_'+$index}}" ng-model="orders_edit_tmp.postcode" type="text" placeholder="Edit..." />
                            <i class="icon-ok" ng-click="save_single_node()"></i>
                        </div>
                    </td>
                    <td data-header="country" id="{{'orders_country_'+$index}}" ng-dblclick="edit_single_node($index,order.id,'country')">
                        {{order.country}}
                        <div id="{{'orders_country_input_'+$index}}" ng-show="orders_edit_tmp.editing == $index && orders_edit_tmp.editing_var == 'country'" class="tag-bubble tag-bubble-input span3 input-text">
                            <input xs-input-sync class="span3" name="{{'orders_country_'+$index}}" ng-model="orders_edit_tmp.country" type="text" placeholder="Edit..." />
                            <i class="icon-ok" ng-click="save_single_node()"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

<!-- Add item modal -->
        <div id="addItem" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addItem"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3 id="addItemHeader" >Select Item to add to Order</h3>
            </div>
            <div class="modal-body" id="addItem-body">
                <input type="text" ng-model="product_setup.search" class="input-large search-query" placeholder="Search term" /> <button class="btn" ng-click="product_setup.search='';get_products()">Clear</button><br/><br/>
                <table id="itemstbl" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th class="item_setup-sort item_setup-sort-name">
                            <a href="" ng-click="item_setup_opt('sort','name')">Item Name<span class="{{'caret-'+product_setup.order}}"></span></a>
                        </th>
                        <th class="item_setup-sort item_setup-sort-sku">
                            <a href="" ng-click="item_setup_opt('sort','sku')">Primary Sku<span class="{{'caret-'+product_setup.order}}"></span></a>
                        </th>
                        <th class="item_setup-sort item_setup-sort-status">
                            <a href="" ng-click="item_setup_opt('sort','status')">Status<span class="{{'caret-'+product_setup.order}}"></span></a>
                        </th>
                        <th class="item_setup-sort item_setup-sort-barcode">
                            <a href="" ng-click="item_setup_opt('sort','barcode')">Barcode<span class="{{'caret-'+product_setup.order}}"></span></a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-click="add_item_order(product.id)" ng-repeat="product in products">
                        <td>{{product.name}}</td>
                        <td>{{product.sku}}</td>
                        <td>{{product.status}}</td>
                        <td>{{product.barcode}}</td>
                    </tr>
                    </tbody>
                </table>
                <button ng-show="new_products" class="btn btn-info btn-large" style="width:100%;" ng-click="product_next()">Load More</button>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>



    </div>
</div>
