<div style="width: 100%; max-width: 600px; margin: 0 auto;">
  <h2>Order Imports for <%= @import_store.store_type %> store is completed.</h2>

  <% if @data.any? %>
    <h3> 
    The following product SKUs were not found in the Shopify store (<%= @shopify_store.name %>) for the given orders:
    </h3>
    <h3>List of Orders and Skus</h3>
  
    <ul>
      <% @data.each do |order| %>
        <li>
          Order Number: <%= order[:order_number] %>, SKUs: <%= order[:skus].inspect %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <p>
  Thanks,<br>
  Team Groovepacker
  </p>
</div>
