<div class="container-fluid">
  <div class="row bottom-well">
    <div class="col-lg-2 col-md-2">
      <div class="row">
        <accordion>
          <accordion-group is-open="tabs[0].open">
            <accordion-heading>
              <i></i>
              <a ui-sref="settings.stores">Store Settings</a>
            </accordion-heading>
            <li ng-class="{active:current_page=='show_stores'}" ui-sref="settings.stores">Show All</li>
            <li ui-sref="settings.stores.create" ng-show="settings.stores.allow">Create Store</li>
            <li class="disabled" ng-hide="settings.stores.allow" popover-trigger="mouseenter"
                popover="You have reached your store limit">Create Store
            </li>

            <li ng-click='import_all_orders()'>Import Orders</li>
          </accordion-group>
          <accordion-group is-open="tabs[1].open">
            <accordion-heading>
              <a ui-sref="settings.users">Users & Permissions</a>
            </accordion-heading>
            <li ng-class="{active:current_page=='show_users'}" ui-sref="settings.users">Show All</li>
            <li ui-sref="settings.users.create" ng-show="settings.users.allow">Create User</li>
            <li class="disabled" ng-hide="settings.users.allow" popover-trigger="mouseenter"
                popover="You have reached your user limit">Create User
            </li>
          </accordion-group>
          <accordion-group is-open="tabs[2].open">
            <accordion-heading>
              <a ui-sref="settings.system.general">System Settings</a>
            </accordion-heading>
            <li ng-class="{active: current_page=='general'}" ui-sref="settings.system.general">General Preferences</li>
            <li ng-class="{active: current_page=='scan_pack'}" ui-sref="settings.system.scan_pack">Scan &amp; Pack
              Options
            </li>
          </accordion-group>
          <accordion-group is-open="tabs[3].open">
            <accordion-heading>
              <a ui-sref="settings.export.backup_restore">Backup & Export</a>
            </accordion-heading>
            <li ng-class="{active:current_page =='backup'}" ui-sref="settings.export.backup_restore">Backup and
              Restore
            </li>
            <li ng-class="{active:current_page =='order_exception'}" ng-show="current_user.can('view_packing_ex')"
                ui-sref="settings.export.order_exception">Exceptions Export
            </li>
            <li ng-class="{active:current_page =='order_export'}" ng-show="current_user.can('view_packing_ex')"
                ui-sref="settings.export.order_export">Order Export
            </li>
            <li ng-class="{active:current_page =='serial_export'}" ng-show="current_user.can('view_packing_ex')"
                ui-sref="settings.export.serial_export">Serial Export
            </li>
          </accordion-group>
          <accordion-group is-open="tabs[4].open">
            <accordion-heading>
              <a ui-sref="settings.accounts.card_details">Account Settings</a>
            </accordion-heading>
            <li ng-class="{active:current_page =='show_card_details'}" ui-sref="settings.accounts.card_details">Payment
              Method
            </li>
          </accordion-group>
        </accordion>
      </div>
    </div>
    <div ui-view></div>
  </div>
</div>
