<div>
  <div class="modal-header">
    <div class="modal-title">Type-In Scan</div>
    <button type="button" class="close-btn" ng-click="ok()"><i class="glyphicon glyphicon-remove"></i></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid form-horizontal">
      <div class="row">
        <div class="col-xs-12">
          <legend>Please enter the total of {{order.next_item.sku}} packed in this order</legend>
          <div class="form-group ">
            <label class="control-label col-sm-3">Count</label>

            <div class="controls col-sm-5">
              <input type="number" min="0" class="form-control search-box" autofocus="autofocus"
                     ng-keydown="check_confirm($event)" ng-model="code.count"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="cancel()" class="modal-cancel-button" translate>modal.cancel</button>
  </div>

</div>
