---
http_interactions:
- request:
    method: get
    uri: https://myteststore.myshopify.com/admin/api/2022-10/variants/12345678901234.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - shpat_1234567890987654321512345678754345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '168'
      X-Sorting-Hat-Shopid:
      - '51183681705'
      X-Shopid:
      - '51183681705'
      X-Shardid:
      - '168'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '11218255873'
      X-Stats-Apipermissionid:
      - '401768120489'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2023-04
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Deprecated-Reason:
      - https://shopify.dev/changelog/property-deprecations-in-the-admin-api-productvariant-resource
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-asia-south1,gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"variant":{"id":12345678901234,"product_id":7776001523881,"title":"OS
        \/ black","price":"70.00","sku":"AD-03-black-OS","position":1,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"OS","option2":"black","option3":null,"created_at":"2023-08-14T04:56:08-04:00","updated_at":"2023-08-25T04:38:32-04:00","taxable":true,"barcode":null,"grams":0,"image_id":null,"weight":0.0,"weight_unit":"lb","inventory_item_id":45283447603369,"inventory_quantity":-2,"old_inventory_quantity":-2,"requires_shipping":true,"admin_graphql_api_id":"gid:\/\/shopify\/ProductVariant\/12345678901234"}}'
  recorded_at: Fri, 25 Aug 2023 08:39:31 GMT
- request:
    method: get
    uri: https://myteststore.myshopify.com/admin/api/2022-10/locations.json?limit=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - shpat_1234567890987654321512345678754345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '168'
      X-Sorting-Hat-Shopid:
      - '51183681705'
      X-Shopid:
      - '51183681705'
      X-Shardid:
      - '168'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '11218255873'
      X-Stats-Apipermissionid:
      - '401768120489'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2022-10
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-asia-south1,gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"locations":[{"id":57741934761,"name":"7001 St Andrews Rd #302","address1":"7001
        St Andrews Rd #302","address2":null,"city":"Columbia","zip":"29212","province":"South
        Carolina","country":"US","phone":"","created_at":"2020-11-12T05:59:21-05:00","updated_at":"2020-11-12T05:59:29-05:00","country_code":"US","country_name":"United
        States","province_code":"SC","legacy":false,"active":true,"admin_graphql_api_id":"gid:\/\/shopify\/Location\/57741934761","localized_country_name":"United
        States","localized_province_name":"South Carolina"},{"id":68520083625,"name":"Alpha
        Tester","address1":"7001 St Andrews Rd #302","address2":"","city":"Columbia","zip":"29212","province":"South
        Carolina","country":"US","phone":"","created_at":"2023-08-11T10:31:08-04:00","updated_at":"2023-08-14T07:23:58-04:00","country_code":"US","country_name":"United
        States","province_code":"SC","legacy":false,"active":true,"admin_graphql_api_id":"gid:\/\/shopify\/Location\/68520083625","localized_country_name":"United
        States","localized_province_name":"South Carolina"}]}'
  recorded_at: Fri, 25 Aug 2023 08:39:32 GMT
- request:
    method: get
    uri: https://myteststore.myshopify.com/admin/api/2022-10/inventory_levels.json?limit=250&location_ids=57741934761
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - shpat_1234567890987654321512345678754345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '168'
      X-Sorting-Hat-Shopid:
      - '51183681705'
      X-Shopid:
      - '51183681705'
      X-Shardid:
      - '168'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '11218255873'
      X-Stats-Apipermissionid:
      - '401768120489'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2022-10
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-asia-south1,gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"inventory_levels":[{"inventory_item_id":45283442131113,"location_id":57741934761,"available":280,"updated_at":"2023-08-24T06:26:25-04:00","admin_graphql_api_id":"gid:\/\/shopify\/InventoryLevel\/92040954025?inventory_item_id=45283442131113"},{"inventory_item_id":45283442163881,"location_id":57741934761,"available":282,"updated_at":"2023-08-24T06:26:25-04:00","admin_graphql_api_id":"gid:\/\/shopify\/InventoryLevel\/92040954025?inventory_item_id=45283442163881"},{"inventory_item_id":45283442196649,"location_id":57741934761,"available":284,"updated_at":"2023-08-24T06:26:26-04:00","admin_gr[...]
- request:
    method: post
    uri: https://myteststore.myshopify.com/admin/api/2023-10/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"mutation inventoryAdjustQuantities($input: InventoryAdjustQuantitiesInput!)
        {\n  inventoryAdjustQuantities(input: $input) {\n    userErrors {\n      field\n      message\n    }\n    inventoryAdjustmentGroup
        {\n      createdAt\n      reason\n      changes {\n        name\n        delta\n      }\n    }\n  }\n}\n","variables":{"input":{"reason":"correction","name":"available","changes":[{"delta":8,"inventoryItemId":"gid://shopify/InventoryItem/45283447603369","locationId":"gid://shopify/Location/57741934761"}]}}}'
    headers:
      X-Shopify-Access-Token:
      - shpat_1234567890987654321512345678754345
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '168'
      X-Sorting-Hat-Shopid:
      - '51183681705'
      X-Shopid:
      - '51183681705'
      X-Shardid:
      - '168'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '11218255873'
      X-Stats-Apipermissionid:
      - '401768120489'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2023-01
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-asia-south1,gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"inventoryAdjustQuantities":{"userErrors":[],"inventoryAdjustmentGroup":{"createdAt":"2023-08-25T08:39:33Z","reason":"correction","changes":[{"name":"available","delta":8},{"name":"on_hand","delta":8}]}}},"extensions":{"cost":{"requestedQueryCost":11,"actualQueryCost":11,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":989,"restoreRate":50.0}}}}'
  recorded_at: Fri, 25 Aug 2023 08:39:34 GMT
recorded_with: VCR 6.1.0
