<div class="pull-right" style="margin-right: 5px;">
  <small>Existing customer?</small>
  <br/>
  <%= link_to "Login", subscriptions_login_path(shop: shop), class: "btn btn-xs btn-success btn-block" %>
</div>
