<div class="row">
  <div class="box-outer">
    <div class="box"></div>
    <div style="text-align: center;">
      <img src="/assets/images/logo.png" class="" alt="GroovePacker"/>
    </div>
  </div>
</div>
