<head>
  <title>Please Complete the following profile while your GroovePacker is initialized.</title>
  <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,700">

  <link href='/static/forms/client/css/1292319201-formview_st_ltr.css' type='text/css' rel='stylesheet'> -->
  <style type="text/css">
    body {
      /*background-color: rgb(230,230,230);*/
    }

    .ss-form-container, .ss-resp-card {
      /*background-color: rgb(255,255,255);*/
    }

    .ss-footer, .ss-response-footer {
      /*background-color: rgb(255,255,255);*/
    }

    .ss-grid-row-odd {
      /*background-color: rgb(242,242,242);*/
    }

    .ss-form-container, .ss-resp-card {
      /*border-color: rgb(212,212,212);*/
    }

    .ss-form-title {
      text-align: left;
    }

    .ss-form-title[dir="rtl"] {
      text-align: right;
    }

    .ss-form-desc {
      text-align: left;
    }

    .ss-form-desc[dir="rtl"] {
      text-align: right;
    }

    .ss-header-image-container {
      height: 0;
    }

    .ss-item {
      /*font-size: 1.080rem;*/
    }

    .ss-choices {
      /*font-size: 1.000rem;*/
    }

    .ss-q-help, .ss-secondary-text {
      margin-left: 20px;
      font-weight: normal;
    }

    .ss-year-dropdown, .ss-day-dropdown {
      margin-left: 0px;
    }

    .ss-secondary-text > ul li {
      list-style-type: disc;
    }

    .jfk-button, .jfk-button-action {
      width: 80px;
      height: 35px;
      position: absolute;
    }

    body {
      /*font-family: "Roboto";
      color: rgb(119,119,119);
      font-weight: 400;
      font-size: 1.5rem;
      font-style: normal;*/
    }

    div input {
      margin-left: 40px;
      border-radius: 5px;
      border-color: rgb(166, 166, 166);
      border-width: 1px;
      /*width: 300px;
      height: 40px;*/
    }

    div select {
      margin-left: 40px;
      border-radius: 5px;
      height: 30px;
    }

    textarea {
      border-radius: 5px;
      width: 400px;
      height: 100px;
    }

    .ss-q-short {
      width: 300px;
      height: 30px;
    }

    .ss-q-other {
      height: 30px;
    }

    .ss-record-username-message {
      /*font-family: "Roboto";
      color: rgb(119,119,119);
      font-weight: 400;
      font-size: 1.080rem;
      font-style: normal;*/
    }

    .ss-form-title {
      /*font-family: "Roboto";
      color: rgb(80,80,80);
      font-weight: 400;
      font-size: 2.460rem;
      font-style: normal;*/
    }

    .ss-confirmation {
      /*font-family: "Roboto";
      color: rgb(80,80,80);
      font-weight: 400;
      font-size: 2.460rem;
      font-style: normal;*/
    }

    .ss-page-title, .ss-section-title {
      /*font-family: "Roboto";
      color: rgb(80,80,80);
      font-weight: 400;
      font-size: 1.845rem;
      font-style: normal;*/
    }

    .ss-form-desc, .ss-page-description, .ss-section-description {
      /*font-family: "Roboto";
      color: rgb(140,140,140);
      font-weight: 400;
      font-size: 1.080rem;
      font-style: normal;*/
    }

    .ss-resp-content {
      /*font-family: "Roboto";
      color: rgb(119,119,119);
      font-weight: 400;
      font-size: 1.080rem;
      font-style: normal;*/
    }

    .ss-q-title {
      /*font-family: "Roboto";
      color: rgb(80,80,80);
      font-weight: 700;
      font-size: 1.080rem;
      font-style: normal;*/
    }

    .ss-embeddable-object-container .ss-q-title {
      /*font-family: "Roboto";
      color: rgb(80,80,80);
      font-weight: 700;
      font-size: 1.845rem;
      font-style: normal;*/
    }

    .ss-q-help, .ss-q-time-hint {
      /*font-family: "Roboto";
      color: rgb(140,140,140);
      font-weight: 400;
      font-size: 1.000rem;
      font-style: normal;*/
    }

    .ss-choice-label, .video-secondary-text, .ss-gridrow-leftlabel, .ss-gridnumber, .ss-scalenumber, .ss-leftlabel, .ss-rightlabel {
      /*font-family: "Roboto";
      color: rgb(80,80,80);
      font-weight: 400;
      font-size: 1.000rem;
      font-style: normal;*/
    }

    .error-message, .required-message, .ss-required-asterisk {
      font-family: "Roboto";
      color: rgb(196, 59, 29);
      font-weight: 400;
      font-size: 1.000rem;
      font-style: normal;
    }

    .ss-send-email-receipt {
      /*font-family: "Roboto";
      color: rgb(80,80,80);
      font-weight: 400;
      font-size: 1.000rem;
      font-style: normal;*/
    }

    .ss-password-warning {
      /*font-family: "Arial";
      color: rgb(119,119,119);
      font-weight: 400;
      font-size: 1.000rem;
      font-style: italic;*/
    }

    .disclaimer {
      /*font-family: "Arial";
      color: rgb(119,119,119);
      font-weight: 400;
      font-size: 0.850rem;
      font-style: normal;*/
    }

    .ss-footer-content {
      /*font-family: "Arial";
      color: rgb(80,80,80);
      font-weight: 400;
      font-size: 1.000rem;
      font-style: normal;*/
    }

    .progress-label {
      /*font-family: "Roboto";
      color: rgb(140,140,140);
      font-weight: 400;
      font-size: 1.000rem;
      font-style: normal;*/
    }

    a:link {
      color: rgb(0, 0, 238);
    }

    a:visited {
      color: rgb(85, 26, 139);
    }

    a:active {
      color: rgb(252, 0, 0);
    }

    input[type='text'], input:not([type]), textarea {
      /*font-size: 1.000rem;*/
    }

    .error, .required, .errorbox-bad {
      border-color: rgb(196, 59, 29);
    }

    .jfk-progressBar-nonBlocking .progress-bar-thumb {
      /*background-color: rgb(140,140,140);*/
    }

    .ss-logo-image {
      background-image: url('//ssl.gstatic.com/docs/forms/forms_logo_small_dark.png');
      background-size: 108px 21px;
      width: 108px;
      height: 21px;
    }

    @media screen and (-webkit-device-pixel-ratio: 2) {
      .ss-logo-image {
        background-image: url('//ssl.gstatic.com/docs/forms/forms_logo_small_dark_2x.png');
      }
    }

  </style>
  <script type="text/javascript">
    var capterra_vkey = 'f2a34b4c94bd1e4dc870d5fda4725bc4',
      capterra_vid = '2100772',
      capterra_prefix = (('https:' == document.location.protocol) ? 'https://ct.capterra.com' : 'http://ct.capterra.com');
    (function () {
        var ct = document.createElement('script');
        ct.type = 'text/javascript';
        ct.async = true;
        ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ct, s);
      })();
  </script>
</head>
<body>
<!-- Google Code for New Subscription Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 953394465;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "sDccCPXf3FoQocrOxgM";
  var google_conversion_value = 500.00;
  var google_conversion_currency = "USD";
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/953394465/?value=500.00&currency_code=USD&label=sDccCPXf3FoQocrOxgM&guid=ON&script=0"/>
  </div>
</noscript>

<%= render 'shared/header' %>
<div class="row bottom-well col-sm-offset-1 col-sm-10">
  <% if direct %>
    <%= render 'shared/confirmations/direct' %>
  <% else %>
    <%= render 'shared/confirmations/shopify', result: result, email: email %>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <h3>Please Complete the following profile while your GroovePacker is initialized. </h3>

      <p>Your responses to these questions will remain confidential and will not be shared, sold or used in any way
        other than providing a better understanding of your companies shipping operation and fulfillment workflow. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <script type="text/javascript">var submitted = false;</script>
      <iframe name="hidden_iframe" id="hidden_iframe"
              style="display:none;" onload="if(submitted) {window.location='./complete';}"></iframe>
      <form method="post" action="https://docs.google.com/forms/d/133mnu2m4TEukWYLZT0eO7pyeojOpmOPuvH0bh4juRDI/formResponse"
            target="hidden_iframe" onsubmit="submitted=true;" id="google-form">
        <!-- <form action="https://docs.google.com/forms/d/133mnu2m4TEukWYLZT0eO7pyeojOpmOPuvH0bh4juRDI/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""> -->
        <ol role="list" class="ss-question-list" style="padding-left: 0">
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1312349076">
                  <div class="ss-q-title">What is your name?</div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <input type="text" name="entry.1312349076" value="" class="ss-q-short" id="entry_1312349076" dir="auto" aria-label="What is your name?  " title="">

                <div class="error-message" id="1114363380_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_342106695">
                  <div class="ss-q-title"> What email address can we use to contact you regarding your account?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <input type="text" name="entry.342106695" value="" class="ss-q-short" id="entry_342106695" dir="auto" aria-label=" What email address can we use to contact you regarding your account?   " aria-required="true" required="" title="">

                <div class="error-message" id="840985238_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1422628389">
                  <div class="ss-q-title"> What phone number can we use to contact you regarding your account setup? (no
                    solicitation)
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <input type="text" name="entry.1422628389" value="" class="ss-q-short" id="entry_1422628389" dir="auto" aria-label=" What phone number can we use to contact you regarding your account setup? (no solicitation)   " title="">

                <div class="error-message" id="204168556_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_432105286">
                  <div class="ss-q-title"> What is your Site URL? (ie CrazyYogaPants.com)</div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <input type="text" name="entry.432105286" value="" class="ss-q-short" id="entry_432105286" dir="auto" aria-label=" What is your Site URL? (ie CrazyYogaPants.com)  " title="">

                <div class="error-message" id="1077163935_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_544206306">
                  <div class="ss-q-title"> Roughly how many different SKUs do you sell? (ie. the number of SKUs you
                    would include in a full product export)
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <input type="text" name="entry.544206306" value="" class="ss-q-short" id="entry_544206306" dir="auto" aria-label=" Roughly how many different SKUs do you sell? (ie. the number of SKUs you would include in a full product export)   " aria-required="true" required="" title="">

                <div class="error-message" id="699406968_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-select">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_398724517">
                  <div class="ss-q-title">How many orders do you ship on an average day?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <select name="entry.398724517" id="entry_398724517" aria-label="How many orders do you ship on an average day?   " aria-required="true" required="">
                  <option value="">-- Please Select --</option>
                  <option value="10 or Less">10 or Less</option>
                  <option value="About 10-25">About 10-25</option>
                  <option value="About 25-40">About 25-40</option>
                  <option value="About 40-80">About 40-80</option>
                  <option value="About 80-100">About 80-100</option>
                  <option value="About 100-150">About 100-150</option>
                  <option value="About 150-200">About 150-200</option>
                  <option value="About 200-250">About 200-250</option>
                  <option value="About 250-350">About 250-350</option>
                  <option value="About 350-500">About 350-500</option>
                  <option value="About 500-600">About 500-600</option>
                  <option value="About 600-800">About 600-800</option>
                  <option value="About 800-1700">About 800-1700</option>
                  <option value="More than 1700 Orders per day">More than 1700 Orders per day</option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-select">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_7006439">
                  <div class="ss-q-title">How many users will need access?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Common User Rolls that you may have:
                    <ul>
                      <li>Packing Users-Limited to packing orders and Importing daily orders</li>
                      <li>Manager/Customer Service Users-Able to edit order contents and product details</li>
                      <li>Super Admin/Owner-Able to setup users and edit all options</li>
                    </ul>
                  </div>
                </label><br/>
                <select name="entry.7006439" id="entry_7006439" aria-label="How many users will need access?  Common User Rolls that you may have: " aria-required="true" required="">
                  <option value="">-- Please Select --</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9-12">9-12</option>
                  <option value="More than 12">More than 12</option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_204678039">
                  <div class="ss-q-title">What is your current packing error rate? (if you do not currently track your
                    packing errors you can estimate the number of orders out of 100 that have a packing issue.) If it&#39;s
                    a best guess please follow it with a question mark.
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <input type="text" name="entry.204678039" value="" class="ss-q-short" id="entry_204678039" dir="auto" aria-label="What is your current packing error rate? (if you do not currently track your packing errors you can estimate the number of orders out of 100 that have a packing issue.) If it&#39;s a best guess please follow it with a question mark.  " aria-required="true" required="" title="">

                <div class="error-message" id="2057392947_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_684155033">
                  <div class="ss-q-title">Which shopping cart(s) do you use?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Magento, Shopify, Big Commerce, etc.</div>
                </label><br/>
                <input type="text" name="entry.684155033" value="" class="ss-q-short" id="entry_684155033" dir="auto" aria-label="Which shopping cart(s) do you use? Magento, Shopify, Big Commerce, etc. " aria-required="true" required="" title="">

                <div class="error-message" id="1598631948_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1476007563">
                  <div class="ss-q-title">In which market place(s) do you sell?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Amazon, Ebay, Etsy, etc.</div>
                </label><br/>
                <input type="text" name="entry.1476007563" value="" class="ss-q-short" id="entry_1476007563" dir="auto" aria-label="In which market place(s) do you sell?  Amazon, Ebay, Etsy, etc. " aria-required="true" required="" title="">

                <div class="error-message" id="1403941378_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1255267181">
                  <div class="ss-q-title">Which order management software do you use (if any)?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Ecomdash, ShipWorks, StoneEdge, ShipStation,
                    Ordoro, ShipRobot, etc. None
                  </div>
                </label><br/>
                <input type="text" name="entry.1255267181" value="" class="ss-q-short" id="entry_1255267181" dir="auto" aria-label="Which order management software do you use (if any)?  Ecomdash, ShipWorks, StoneEdge, ShipStation, Ordoro, ShipRobot, etc. None " aria-required="true" required="" title="">

                <div class="error-message" id="776212562_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_399417093">
                  <div class="ss-q-title">What software do you currently use to print shipping labels?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">UPS WorldShip, Dazzle, ShipStation, etc</div>
                </label><br/>
                <input type="text" name="entry.399417093" value="" class="ss-q-short" id="entry_399417093" dir="auto" aria-label="What software do you currently use to print shipping labels?  UPS WorldShip, Dazzle, ShipStation, etc " aria-required="true" required="" title="">

                <div class="error-message" id="1040983311_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-radio">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_598658896">
                  <div class="ss-q-title">How do you print your packing slips?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <ul class="ss-choices" role="radiogroup" aria-label="How do you print your packing slips?   ">
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.406184545" value="From my order manager (ShipWorks, Ordoro, ShipStation)" id="group_406184545_1" role="radio" class="ss-q-radio" aria-label="From my order manager (ShipWorks, Ordoro, ShipStation)" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">From my order manager (ShipWorks, Ordoro, ShipStation)</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.406184545" value="From my shopping cart (magento, etc)" id="group_406184545_2" role="radio" class="ss-q-radio" aria-label="From my shopping cart (magento, etc)" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">From my shopping cart (magento, etc)</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.406184545" value="I do not currently use packing slips." id="group_406184545_3" role="radio" class="ss-q-radio" aria-label="I do not currently use packing slips." required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">I do not currently use packing slips.</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.406184545" value="__other_option__" id="group_406184545_4" role="radio" class="ss-q-radio ss-q-other-toggle" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Other</span>
                    </label>
                      <span class="ss-q-other-container goog-inline-block">
                        <input type="text" name="entry.406184545.other_option_response" value="" class="ss-q-other" id="entry_406184545_other_option_response" dir="auto" aria-label="Other">
                      </span>
                  </li>
                </ul>
                <div class="error-message" id="598658896_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-radio">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_2046096384">
                  <div class="ss-q-title">How do you print your pick list?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <ul class="ss-choices" role="radiogroup" aria-label="How do you print your pick list?   ">
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.39076466" value="From my order manager (ShipWorks, Ordoro, ShipStation)" id="group_39076466_1" role="radio" class="ss-q-radio" aria-label="From my order manager (ShipWorks, Ordoro, ShipStation)" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">From my order manager (ShipWorks, Ordoro, ShipStation)</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.39076466" value="From my shopping cart (magento, etc)" id="group_39076466_2" role="radio" class="ss-q-radio" aria-label="From my shopping cart (magento, etc)" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">From my shopping cart (magento, etc)</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.39076466" value="I do not currently use a pick list" id="group_39076466_3" role="radio" class="ss-q-radio" aria-label="I do not currently use a pick list" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">I do not currently use a pick list</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.39076466" value="__other_option__" id="group_39076466_4" role="radio" class="ss-q-radio ss-q-other-toggle" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Other</span>
                    </label>
                      <span class="ss-q-other-container goog-inline-block">
                        <input type="text" name="entry.39076466.other_option_response" value="" class="ss-q-other" id="entry_39076466_other_option_response" dir="auto" aria-label="Other">
                      </span>
                  </li>
                </ul>
                <div class="error-message" id="2046096384_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-radio">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_481885055">
                  <div class="ss-q-title">Which best describes your printing work flow?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <ul class="ss-choices" role="radiogroup" aria-label="Which best describes your printing work flow?   ">
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.2144861084" value="All applicable items are printed prior to packing, in multiple batches (one batch per packer), or in a single batch." id="group_2144861084_1" role="radio" class="ss-q-radio" aria-label="All applicable items are printed prior to packing, in multiple batches (one batch per packer), or in a single batch." required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">All applicable items are printed prior to packing, in multiple batches (one batch per packer), or in a single batch.</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.2144861084" value="Packing Slips and Pick Lists are printed by batch before packing. Shipping labels are printed after each order is packed and weighed." id="group_2144861084_2" role="radio" class="ss-q-radio" aria-label="Packing Slips and Pick Lists are printed by batch before packing. Shipping labels are printed after each order is packed and weighed." required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Packing Slips and Pick Lists are printed by batch before packing. Shipping labels are printed after each order is packed and weighed.</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.2144861084" value="__other_option__" id="group_2144861084_3" role="radio" class="ss-q-radio ss-q-other-toggle" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Other</span>
                    </label>
                      <span class="ss-q-other-container goog-inline-block">
                        <input type="text" name="entry.2144861084.other_option_response" value="" class="ss-q-other" id="entry_2144861084_other_option_response" dir="auto" aria-label="Other">
                      </span>
                  </li>
                </ul>
                <div class="error-message" id="481885055_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_861029404">
                  <div class="ss-q-title">What accounting software do you currently use (if any)?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Quickbooks, Quickbooks Online, Xero, etc. or
                    None.
                  </div>
                </label><br/>
                <input type="text" name="entry.861029404" value="" class="ss-q-short" id="entry_861029404" dir="auto" aria-label="What accounting software do you currently use (if any)?  Quickbooks, Quickbooks Online, Xero, etc. or None. " aria-required="true" required="" title="">

                <div class="error-message" id="1305421421_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_2126693112">
                  <div class="ss-q-title">What software do you use for tracking inventory (if any)?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Quickbooks, Fishbowl, Barcoders, etc. or None</div>
                </label><br/>
                <input type="text" name="entry.2126693112" value="" class="ss-q-short" id="entry_2126693112" dir="auto" aria-label="What software do you use for tracking inventory (if any)?  Quickbooks, Fishbowl, Barcoders, etc. or None " aria-required="true" required="" title="">

                <div class="error-message" id="641579374_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-radio">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1791530677">
                  <div class="ss-q-title">How many of the SKU&#39;s that you ship currently have barcodes? Please note
                    that GroovePacker does not require registered UPCs. You can use your product SKU as an in-house
                    barcode.
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <ul class="ss-choices" role="radiogroup" aria-label="How many of the SKU&#39;s that you ship currently have barcodes? Please note that GroovePacker does not require registered UPCs. You can use your product SKU as an in-house barcode.   ">
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.224564826" value="All" id="group_224564826_1" role="radio" class="ss-q-radio" aria-label="All" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">All</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.224564826" value="Nearly All" id="group_224564826_2" role="radio" class="ss-q-radio" aria-label="Nearly All" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Nearly All</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.224564826" value="Most" id="group_224564826_3" role="radio" class="ss-q-radio" aria-label="Most" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Most</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.224564826" value="Some" id="group_224564826_4" role="radio" class="ss-q-radio" aria-label="Some" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Some</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.224564826" value="Few" id="group_224564826_5" role="radio" class="ss-q-radio" aria-label="Few" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Few</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.224564826" value="None" id="group_224564826_6" role="radio" class="ss-q-radio" aria-label="None" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">None</span>
                    </label>
                  </li>
                </ul>
                <div class="error-message" id="1791530677_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-date">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_406885866">
                  <div class="ss-q-title">If you answered &quot;All&quot; to the previous question please disregard this
                    question.
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"> On what date do plan to have the remaining
                    inventory items barcoded and ready to scan?
                  </div>
                </label><br/>

                <div class="ss-q-date" role="group" aria-label="If you answered &quot;All&quot; to the previous question please disregard this question.  On what date do plan to have the remaining inventory items barcoded and ready to scan?  ">
                  <div class="ss-datetime-box goog-inline-block" role="group">
                    <select name="entry.406885866_month" class="ss-month-dropdown" id="entry.406885866_month" aria-label="Month">
                      <option value="">Month</option>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <select name="entry.406885866_day" class="ss-day-dropdown" id="entry.406885866_day" aria-label="Day of month">
                      <option value="">Day</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                    <select name="entry.406885866_year" class="ss-year-dropdown" id="entry.406885866_year" aria-label="Year">
                      <option value="">Year</option>
                      <option value="1892">1892</option>
                      <option value="1893">1893</option>
                      <option value="1894">1894</option>
                      <option value="1895">1895</option>
                      <option value="1896">1896</option>
                      <option value="1897">1897</option>
                      <option value="1898">1898</option>
                      <option value="1899">1899</option>
                      <option value="1900">1900</option>
                      <option value="1901">1901</option>
                      <option value="1902">1902</option>
                      <option value="1903">1903</option>
                      <option value="1904">1904</option>
                      <option value="1905">1905</option>
                      <option value="1906">1906</option>
                      <option value="1907">1907</option>
                      <option value="1908">1908</option>
                      <option value="1909">1909</option>
                      <option value="1910">1910</option>
                      <option value="1911">1911</option>
                      <option value="1912">1912</option>
                      <option value="1913">1913</option>
                      <option value="1914">1914</option>
                      <option value="1915">1915</option>
                      <option value="1916">1916</option>
                      <option value="1917">1917</option>
                      <option value="1918">1918</option>
                      <option value="1919">1919</option>
                      <option value="1920">1920</option>
                      <option value="1921">1921</option>
                      <option value="1922">1922</option>
                      <option value="1923">1923</option>
                      <option value="1924">1924</option>
                      <option value="1925">1925</option>
                      <option value="1926">1926</option>
                      <option value="1927">1927</option>
                      <option value="1928">1928</option>
                      <option value="1929">1929</option>
                      <option value="1930">1930</option>
                      <option value="1931">1931</option>
                      <option value="1932">1932</option>
                      <option value="1933">1933</option>
                      <option value="1934">1934</option>
                      <option value="1935">1935</option>
                      <option value="1936">1936</option>
                      <option value="1937">1937</option>
                      <option value="1938">1938</option>
                      <option value="1939">1939</option>
                      <option value="1940">1940</option>
                      <option value="1941">1941</option>
                      <option value="1942">1942</option>
                      <option value="1943">1943</option>
                      <option value="1944">1944</option>
                      <option value="1945">1945</option>
                      <option value="1946">1946</option>
                      <option value="1947">1947</option>
                      <option value="1948">1948</option>
                      <option value="1949">1949</option>
                      <option value="1950">1950</option>
                      <option value="1951">1951</option>
                      <option value="1952">1952</option>
                      <option value="1953">1953</option>
                      <option value="1954">1954</option>
                      <option value="1955">1955</option>
                      <option value="1956">1956</option>
                      <option value="1957">1957</option>
                      <option value="1958">1958</option>
                      <option value="1959">1959</option>
                      <option value="1960">1960</option>
                      <option value="1961">1961</option>
                      <option value="1962">1962</option>
                      <option value="1963">1963</option>
                      <option value="1964">1964</option>
                      <option value="1965">1965</option>
                      <option value="1966">1966</option>
                      <option value="1967">1967</option>
                      <option value="1968">1968</option>
                      <option value="1969">1969</option>
                      <option value="1970">1970</option>
                      <option value="1971">1971</option>
                      <option value="1972">1972</option>
                      <option value="1973">1973</option>
                      <option value="1974">1974</option>
                      <option value="1975">1975</option>
                      <option value="1976">1976</option>
                      <option value="1977">1977</option>
                      <option value="1978">1978</option>
                      <option value="1979">1979</option>
                      <option value="1980">1980</option>
                      <option value="1981">1981</option>
                      <option value="1982">1982</option>
                      <option value="1983">1983</option>
                      <option value="1984">1984</option>
                      <option value="1985">1985</option>
                      <option value="1986">1986</option>
                      <option value="1987">1987</option>
                      <option value="1988">1988</option>
                      <option value="1989">1989</option>
                      <option value="1990">1990</option>
                      <option value="1991">1991</option>
                      <option value="1992">1992</option>
                      <option value="1993">1993</option>
                      <option value="1994">1994</option>
                      <option value="1995">1995</option>
                      <option value="1996">1996</option>
                      <option value="1997">1997</option>
                      <option value="1998">1998</option>
                      <option value="1999">1999</option>
                      <option value="2000">2000</option>
                      <option value="2001">2001</option>
                      <option value="2002">2002</option>
                      <option value="2003">2003</option>
                      <option value="2004">2004</option>
                      <option value="2005">2005</option>
                      <option value="2006">2006</option>
                      <option value="2007">2007</option>
                      <option value="2008">2008</option>
                      <option value="2009">2009</option>
                      <option value="2010">2010</option>
                      <option value="2011">2011</option>
                      <option value="2012">2012</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015" selected>2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
                      <option value="2026">2026</option>
                      <option value="2027">2027</option>
                      <option value="2028">2028</option>
                      <option value="2029">2029</option>
                      <option value="2030">2030</option>
                      <option value="2031">2031</option>
                      <option value="2032">2032</option>
                      <option value="2033">2033</option>
                      <option value="2034">2034</option>
                      <option value="2035">2035</option>
                      <option value="2036">2036</option>
                      <option value="2037">2037</option>
                      <option value="2038">2038</option>
                      <option value="2039">2039</option>
                      <option value="2040">2040</option>
                      <option value="2041">2041</option>
                      <option value="2042">2042</option>
                      <option value="2043">2043</option>
                      <option value="2044">2044</option>
                      <option value="2045">2045</option>
                      <option value="2046">2046</option>
                      <option value="2047">2047</option>
                      <option value="2048">2048</option>
                      <option value="2049">2049</option>
                      <option value="2050">2050</option>
                      <option value="2051">2051</option>
                      <option value="2052">2052</option>
                      <option value="2053">2053</option>
                      <option value="2054">2054</option>
                      <option value="2055">2055</option>
                      <option value="2056">2056</option>
                      <option value="2057">2057</option>
                      <option value="2058">2058</option>
                      <option value="2059">2059</option>
                      <option value="2060">2060</option>
                      <option value="2061">2061</option>
                      <option value="2062">2062</option>
                      <option value="2063">2063</option>
                      <option value="2064">2064</option>
                      <option value="2065">2065</option>
                    </select>
                    <!-- <div class="ss-picker-button-container goog-inline-block" aria-hidden="true">
                      <div id="entry.406885866_picker" class="ss-calendar-button ss-hidden-button" tabindex="-1">
                        <div class="docs-icon goog-inline-block">
                          <div class="docs-icon-img-container docs-icon-img docs-icon-calendar">&nbsp;</div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="auto" class="ss-item ss-item-required ss-radio">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1682812116">
                  <div class="ss-q-title">Do many of your items have different SKUs depending on where they are sold?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="auto">(ie. In your online store a particular item&#39;s SKU is: P-PROD-A but when the same item sells on Amazon the SKU is different: P-XL120-A) The same physical item is shipped when any of it&#39;s SKU&#39;s are sold.</div>
                </label>

                <ul class="ss-choices" role="radiogroup" aria-label="Do many of your items have different SKUs depending on where they are sold? (ie. In your online store a particular item&#39;s SKU is: P-PROD-A but when the same item sells on Amazon the SKU is different: P-XL120-A) The same physical item is shipped when any of it&#39;s SKU&#39;s are sold. ">
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="radio" name="entry.1401183247" value="Yes" id="group_1401183247_1" role="radio" class="ss-q-radio" aria-label="Yes" required="" aria-required="true">
                      </span>
                      <span class="ss-choice-label">Yes</span>
                    </label>
                  </li> 
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="radio" name="entry.1401183247" value="No" id="group_1401183247_2" role="radio" class="ss-q-radio" aria-label="No" required="" aria-required="true">
                      </span>
                      <span class="ss-choice-label">No</span>
                    </label>
                  </li> 
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="radio" name="entry.1401183247" value="Not sure" id="group_1401183247_3" role="radio" class="ss-q-radio" aria-label="Not sure" required="" aria-required="true">
                      </span>
                      <span class="ss-choice-label">Not sure</span>
                    </label>
                  </li>
                </ul>
                <div class="error-message" id="1682812116_errorMessage"></div>
              </div>
            </div>
          </div>

          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="auto" class="ss-item ss-item-required ss-radio">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_364035828">
                  <div class="ss-q-title">Do you sell items in bundles or kits where the customer buys one item but multiple items should be scanned or removed from inventory? 
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="auto">(if in every case the entire kit is scanned and removed from inventory as a single item please answer No)</div>
                </label>

                <ul class="ss-choices" role="radiogroup" aria-label="Do you sell items in bundles or kits where the customer buys one item but multiple items should be scanned or removed from inventory?  (if in every case the entire kit is scanned and removed from inventory as a single item please answer No) ">
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="radio" name="entry.869246879" value="Yes" id="group_869246879_1" role="radio" class="ss-q-radio" aria-label="Yes" required="" aria-required="true">
                      </span>
                      <span class="ss-choice-label">Yes</span>
                    </label>
                  </li> 
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="radio" name="entry.869246879" value="No" id="group_869246879_2" role="radio" class="ss-q-radio" aria-label="No" required="" aria-required="true">
                      </span>
                      <span class="ss-choice-label">No</span>
                    </label>
                  </li> 
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="radio" name="entry.869246879" value="Not Sure" id="group_869246879_3" role="radio" class="ss-q-radio" aria-label="Not Sure" required="" aria-required="true">
                      </span>
                      <span class="ss-choice-label">Not Sure</span>
                    </label>
                  </li>
                </ul>
                <div class="error-message" id="364035828_errorMessage"></div>
              </div>
            </div>
          </div>

          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-radio">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1030829081">
                  <div class="ss-q-title">Do you have Multiple Fulfillment Locations that you ship from?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <ul class="ss-choices" role="radiogroup" aria-label="Do you have Multiple Fulfillment Locations that you ship from?   ">
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.1434756467" value="Yes" id="group_1434756467_1" role="radio" class="ss-q-radio" aria-label="Yes" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Yes</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.1434756467" value="No" id="group_1434756467_2" role="radio" class="ss-q-radio" aria-label="No" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">No</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.1434756467" value="Not yet, but we&#39;ll likely be adding a second location." id="group_1434756467_3" role="radio" class="ss-q-radio" aria-label="Not yet, but we&#39;ll likely be adding a second location." required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Not yet, but we&#39;ll likely be adding a second location.</span>
                    </label>
                  </li>
                </ul>
                <div class="error-message" id="1030829081_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-radio">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_2030315580">
                  <div class="ss-q-title">Do you sell point of sale in a retail location as well as online?
                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                    <span class="ss-required-asterisk" aria-hidden="true">*</span>
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <ul class="ss-choices" role="radiogroup" aria-label="Do you sell point of sale in a retail location as well as online?   ">
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.766164399" value="Yes" id="group_766164399_1" role="radio" class="ss-q-radio" aria-label="Yes" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">Yes</span>
                    </label>
                  </li>
                  <li class="ss-choice-item">
                    <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="radio" name="entry.766164399" value="No" id="group_766164399_2" role="radio" class="ss-q-radio" aria-label="No" required="" aria-required="true">
                        </span>
                      <span class="ss-choice-label">No</span>
                    </label>
                  </li>
                </ul>
                <div class="error-message" id="2030315580_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-paragraph-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_474123181">
                  <div class="ss-q-title">What was your primary reason/motivation for choosing GroovePacker?</div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <textarea name="entry.474123181" rows="8" cols="0" class="ss-q-long" id="entry_474123181" dir="auto" aria-label="What was your primary reason/motivation for choosing GroovePacker?   "></textarea>

                <div class="error-message" id="770637023_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-paragraph-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1971551730">
                  <div class="ss-q-title">How did you hear about us?</div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label><br/>
                <textarea name="entry.1971551730" rows="8" cols="0" class="ss-q-long" id="entry_1971551730" dir="auto" aria-label="How did you hear about us?  "></textarea>

                <div class="error-message" id="1520335690_errorMessage"></div>
              </div>
            </div>
          </div>
          <hr>

          <input type="hidden" name="draftResponse" value="[,,&quot;-5642548260179199969&quot;]
            ">
          <input type="hidden" name="pageHistory" value="0">


          <input type="hidden" name="fbzx" value="-5642548260179199969">

          <div class="ss-item ss-navigate">
            <table id="navigation-table">
              <tbody>
              <tr>
                <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                  <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action "><br/>
                  <!-- <div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div> -->
                </td>
                <!-- <td id="progress-container">
                  <div id="progress-bar" class="jfk-progressBar-nonBlocking progress-bar-horizontal goog-inline-block"></div>
                  <div id="progress-label" class="progress-label">100%: You made it.</div>
                </td> -->
              </tr>
              </tbody>
            </table>
          </div>
        </ol>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="https://static.leaddyno.com/js"></script>
  <script>
     LeadDyno.key = "43a989cd4a60d892c484bbfc92d2db94da03236b";
     LeadDyno.recordVisit();
     LeadDyno.autoWatch();
  </script>
</div>
</body>
