<div class="container" ng-app="groovepacks" ng-controller="appCtrl">
    <div class="row navigation-row">
      <header class="navbar">
        <div class="container">
          <div class="span3">
            <a ui-sref="home" class="brand"><img src="assets/logo.png"></a>
          </div>
          <div class="span6">
            <ul class="nav" id="mainMenu">
              <li ng-show="current_user.can('access_orders')"><a ui-sref="orders">Orders</a></li>
              <li ng-show="current_user.can('access_products')"><a ui-sref="products">Products</a></li>
              <li ng-show="current_user.can('access_settings')"><a href="#/settings">Settings</a></li>
              <li ng-show="current_user.can('access_scanpack')"><a ui-sref="scanpack.rfo">Scan and Pack</a></li>
            </ul>
            <ul class="nav" id="mainMenu">
              <li id="ordersitem" ng-mouseover="get_import_summary()"><a href="" role="button" data-toggle="popover" data-trigger="hover" 
            data-content="And here's some amazing content. It's very engaging." title="Popover title" 
            ng-click='import_all_orders()'><i ng-show="import_in_progress" class="icon-refresh icon-spin"></i> Import Orders</a></li>
            </ul>
            <div id="popoverExampleTwoHiddenContent" 
              style="display: none">
                Import Summary
                <p>{{current_user.get().username}}</p>
                <p>{{import_in_progress}}</p>
                <p>{{import_summary.store_id}}</p>
            </div>  
            <!-- Popover 2 hidden title -->
            <div id="popoverExampleTwoHiddenTitle" style="display: none">
               Import Summmary Data
            </div>            
          </div>
          <div class="span3 pull-right">
              <ul class="nav pull-right">
                <li><a href="#/home">Home</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Profile</a></li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">{{current_user.get().username}}<b class="caret"></b></a>
                  <ul class="dropdown-menu">

                    <li>
                      <a href="/users/sign_out" data-method="delete" rel="nofollow">Sign Out</a>
                    </li>
                  </ul>
                </li>

              </ul>

          </div>
        </div>
      </header>
      <div groov-common groov-import="import_all_orders"></div>
    </div>
      <div ui-view></div>
</div>
