<div style="-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; position: relative; margin: auto; padding: 10px 50px 100px 50px; border: 4px solid rgba(128, 128, 128, 1); -webkit-border-radius: 24px / 23px; border-radius: 24px / 23px; color: rgba(0,0,0,0.9); -o-text-overflow: clip; text-overflow: clip; background: url('http://www.groovepacker.com/site/images/background_image.png') no-repeat #000; background-position: 50% 50%; -webkit-background-origin: padding-box; background-origin: padding-box; -webkit-background-clip: border-box; background-clip: border-box; -webkit-background-size: cover; background-size: cover; -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4); box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4);"><a href="http://www.groovepacker.com/"><img style="margin: auto; display: block;" src="http://www.groovepacker.com/site/images/GroovePacker_Bc_logo_400x73.png" alt=""></a>
  <h1 style="text-align: center; text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);  font-family: 'Arial', sans-serif; font-family: 'Play', sans-serif; font-weight: 700; color: #95E329; font-size: 25px;">
    Billing Issue Notice<br />
  </h1>
  <div style="width: 96%; margin-left:auto; margin-right:auto; background: #F2F3FF; border-color: #59638B; border-width: 4px; border-radius: 20px; font-family: 'Lato', sans-serif; padding: 15px; border-style: double; -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4); box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.8);">
    <p>Unfortunately the most recent billing attempt for <i><%=@tenant_name%>.groovepacker.com</i> was not successful. This is usually due to a missing or expired credit card associated with your account.</p>
    <p>Please log in to your account and go to Settings > Account Settings where you can verify your card information.</p>
    <p>Afterwards please send an email to support@groovepacker.com with instructions to retry billing or to let us know the card information appears valid.</p>
    <p>Your prompt attention will ensure we are able to resolve this quickly with no interruption of service.</p>
    
    <p>Kind Regards,<br>GPAR<br>The GroovePacker Account Robot</p>
  </div>
</div>
