<div>
  <h2>User Deleted by Tenant</h2>
  <strong>Tenant Name : <%= @tenant %></strong> 
  
  <% @users.each do |user| %>
    <div>
      <% @user_names.each do |user_names| %>
        <strong>Username : <%= user_names["username"] if user_names["id"] == user.id %></strong><br>
      <% end %>
      <strong>Created at : <%= user.created_at %></strong><br>
      <strong>Deleted at : <%= user.updated_at %></strong><br><br> 
    </div>
  <% end %>
</div>