<div>
  <div class="modal-header">
    <button type="button" class="close-btn" ng-click="ok()"><i class="glyphicon glyphicon-remove"></i></button>
    <div class="modal-title">
      <span>Confirm Status Change</span>
    </div>
   </div>
    <div class="modal-body" >
      <legend>Should inventory be adjusted as if these orders had shipped?</legend>
      <div class="btn-group">
        <button class="modal-save-button btn-lg" ng-click="change_order_status_yes()">Yes</button>
        <button class="modal-remove-button btn-lg" ng-click="change_order_status_no()">No</button>
        <button class="modal-cancel-button" ng-click="cancel_change_order_status()">Cancel order status change</button>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="cancel()" class="modal-cancel-button" translate>modal.cancel</button>
    </div>
  </form>
</div>