<!-- show order modal -->
<div>
  <div class="modal-header">
    <button type="button" class="close-btn" ng-click="ok()"><i class="glyphicon glyphicon-remove"></i></button>
    <div class="modal-title">Order #{{orders.single.basicinfo.increment_id}} Details</div>
  </div>


  <div class="modal-body">
    <div class="tabbable">
      <tabset class="nav nav-tabs modal-nav">
        <tab ng-repeat="tab in modal_tabs" heading="{{tab.heading}}" active="tab.active">
          <div groov-include="{{tab.templateUrl}}"></div>
        </tab>
      </tabset>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-click="ok()" class="modal-save-button" translate>modal.save_close</button>
    <button ng-click="cancel()" class="modal-cancel-button" translate>modal.cancel</button>
  </div>
</div>
