<div class="well">
  <% if params[:is_admin] %>
    <%if @result %>
      <p>
        Your shopify store is successfully setup.
      </p>
    <% else %>
      <p>
        There was an error setting up your shopify store.
      </p>
    <% end %>
  <% else %>
    <%if @result %>
      <p>
        Your shopify store is successfully setup. Kindly close the window to continue.
      </p>
    <% else %>
      <p>
        There was an error setting up your shopify store. Kindly close the window and retry.
      </p>
    <% end %>  
  <% end %>
</div>