<div class="persist-notifications-background persist-notifications-background-bottom" ng-click="toggle_dashboard_detail()"></div>
<div class="persist-notifications persist-notifications-bottom">
  <div class="details text-center">
    <h3>Dashboard</h3>
    <div class="tabbable col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
      <tabset class="nav nav-tabs dashboard-nav">
          <tab ng-repeat="tab in dash_tabs" heading="{{tab.heading}}" active="tab.active" ng-click="switch_tab(tab)">
              <div groov-include="{{tab.templateUrl}}"></div>
          </tab>
      </tabset>
    </div>
  </div>
  
  <div class="under-bar" ng-click="toggle_dashboard_detail()" ng-class="{glow:bar_glow}"><i class="glyphicon" ng-class="{'glyphicon-chevron-up':!dashbord_detail_open,'glyphicon-top glyphicon-chevron-down':dashbord_detail_open}"></i></div>
</div>