<div class="persist-notifications-background persist-notifications-background-bottom" ng-click="toggle_dashboard_detail()"></div>
<div class="persist-notifications persist-notifications-bottom">
  <div class="details text-center">
  <br/>
  <br/>
  <h3>Dashboard</h3></div>
  
  <div class="under-bar" ng-click="toggle_dashboard_detail()" ng-class="{glow:bar_glow}"><i class="glyphicon" ng-class="{'glyphicon-chevron-up':!dashbord_detail_open,'glyphicon-top glyphicon-chevron-down':dashbord_detail_open}"></i></div>
</div>