<div style="width: 100%; max-width: 600px; margin: 0 auto;">

  <% if @type == 'pull_inv' %>
    <h3>Pull Inventory for Shopify store of Products is completed.</h3>
  <% else %>
    <h3>Push Inventory for Shopify store of Products is completed</h3>
  <% end %>

  <p>
  Thanks,<br>
  Team Groovepacker
  </p>
</div>
