<!-- show order modal -->
<div>
    <div class="modal-body modal-delete">
        <button type="button" class="close-btn modal-delete-close" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></button>
        <div class="modal-title" style="margin-left: 0px;"><legend><center>Confirm Deletion</center></legend></div>
        <div class="container-fluid">
            <div ng-hide="tenants.deletion_type=='both' || tenants.deletion_type=='all'">
                <h4>Are you sure you want to delete {{tenants.deletion_type}}?</h4>
            </div>
            <div ng-show="tenants.deletion_type=='both'">
                <h4>Are you sure you want to delete {{tenants.deletion_type}} orders and products?</h4>
            </div>
            <div ng-show="tenants.deletion_type=='all'">
                <h4>Are you sure you want to delete {{tenants.deletion_type}} data?</h4>
            </div>
            <div class="col-sm-12 form-group">
                <label class="control-lebel col-sm-2">Tenant:</label>
                <div class="col-sm-10">{{tenants.single.basicinfo.name}}</div>
            </div>
        </div>
        <div><legend></legend></div>
        <div class="container-fluid">
            <button ng-click="ok()" class="modal-remove-button" translate>Delete</button>
            <button ng-click="cancel()" class="modal-cancel-button" translate>Cancel</button>
        </div>
    </div>
</div>

