<!-- show order modal -->
<div>

  <div class="modal-header">
    <button type="button" class="close-btn" ng-click="ok()"><i class="glyphicon glyphicon-remove"></i></button>
    <div class="modal-title">Editing: Tenant - ID #{{tenants.single.basicinfo.id}} ({{tenants.single.basicinfo.name}})
    </div>
  </div>


  <div class="modal-body">
    <div class="container-fluid">
      <div>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="col-sm-4">
            <center>
              <i class="groove-fa fa fa-dropbox fa-5x"></i>

              <div>Shipments</div>
            </center>
            <div class="col-sm-offset-2 col-sm-8">
              <input type="number" ng-model="tenants.single.access_restrictions_info.max_allowed"
                     class="form-control input-style"/>
            </div>
          </div>
          <div class="col-sm-4">
            <center>
              <i class="groove-fa fa fa-users fa-5x"></i>

              <div>Users</div>
            </center>
            <div class="col-sm-offset-2 col-sm-8">
              <input type="number" ng-model="tenants.single.access_restrictions_info.max_users"
                     class="form-control input-style"/>
            </div>
          </div>
          <div class="col-sm-4">
            <center>
              <i class="groove-fa fa fa-cloud-download fa-5x"></i>

              <div>Sources</div>
            </center>
            <div class="col-sm-offset-2 col-sm-8">
              <input type="number" ng-model="tenants.single.access_restrictions_info.max_import_sources"
                     class="form-control input-style"/>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <br/>

      <div class="col-sm-12">
        <br/>
        <center>
          <button ng-click="update_access_restrictions()"
                  class="dropdown-toggle groove-button label label-default label-success" translate>Update
          </button>
        </center>
        <hr>
        <br/>
      </div>
      <div>
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="col-sm-3">
            <center>
              <div><i class="groove-fa fa fa-file-text-o fa-5x"></i></div>
              <br/>
              <button ng-click="delete_orders()" class="dropdown-toggle groove-button label label-default label-danger"
                      translate>Delete Orders
              </button>
            </center>
          </div>
          <div class="col-sm-3">
            <center>
              <div><i class="groove-fa fa fa-shopping-cart fa-5x"></i></div>
              <br/>
              <button ng-click="delete_products()"
                      class="dropdown-toggle groove-button label label-default label-danger" translate>Delete Products
              </button>
            </center>
          </div>
          <div class="col-sm-3" style="vertical-align: bottom;">
            <center>
              <div style="height: 1em;"></div>
              <div>
                <i class="groove-fa fa fa-file-text-o fa-4x"></i> <i
                class="glyphicon-plus-style glyphicon glyphicon-plus"></i><i
                class="groove-fa fa fa-shopping-cart fa-4x"></i>
              </div>
              <br/>
              <button ng-click="delete_orders_and_products()"
                      class="dropdown-toggle groove-button label label-default label-danger" translate>Orders & Products
              </button>
            </center>
          </div>
          <div class="col-sm-3">
            <center>
              <div><i class="groove-fa fa fa-bomb fa-5x"></i></div>
              <br/>
              <button ng-click="delete_all()" class="dropdown-toggle groove-button label label-danger" translate>Clear
                All Data
              </button>
            </center>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="col-sm-12">
        <br/>
        <br/>
        <br/>
      </div>
      <div>
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <center>
            <label class="control-label">Allow Inventory Push/Pull</label>
            <br/>
            <div class="controls">
              <div toggle-switch ng-model="tenants.single.access_restrictions_info.allow_inv_push" ng-click="allowinventory_pull_push_all(true)"></div>
            </div>
          </center>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="col-sm-12">
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-click="cancel()" class="modal-cancel-button" translate>Cancel</button>
  </div>
</div>

