<!-- show order modal -->
<div>

  <div class="modal-header">
    <button type="button" class="close-btn" ng-click="ok()"><i class="glyphicon glyphicon-remove"></i></button>
    <div class="modal-title">Editing: Tenant - ID #{{tenants.single.basicinfo.id}} ({{tenants.single.basicinfo.name}})
    </div>
  </div>


  <div class="modal-body">
    <div class="container-fluid">
      <div>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <center>
            <i class="groove-fa fa fa-dropbox fa-5x"></i>

            <div>Shipments</div>
          </center>
          <div class="col-sm-offset-1 col-sm-10">
            <input type="number" ng-model="tenants.single.access_restrictions_info.max_allowed"
                   class="form-control input-style"/>
          </div>
        </div>
        <div class="col-sm-2">
          <center>
            <i class="groove-fa fa fa-users fa-5x"></i>

            <div>Users</div>
          </center>
          <div class="col-sm-offset-1 col-sm-10">
            <input type="number" ng-model="tenants.single.access_restrictions_info.max_users"
                   class="form-control input-style"/>
          </div>
        </div>
        <div class="col-sm-2">
          <center>
            <i class="groove-fa fa fa-cloud-download fa-5x"></i>

            <div>Sources</div>
          </center>
          <div class="col-sm-offset-1 col-sm-10">
            <input type="number" ng-model="tenants.single.access_restrictions_info.max_import_sources"
                   class="form-control input-style"/>
          </div>
        </div>
        <div class="col-sm-2">
          <center>
            <i class="groove-fa fa fa-usd fa-5x"></i>

            <div>Amount</div>
          </center>
          <div class="col-sm-offset-1 col-sm-10">
            <input type="text" ng-model="tenants.single.subscription_info.amount"
                   class="form-control input-style"/>
          </div>
        </div>
        <div class="col-sm-2">
          <br/><br/>
          <center>
            <div class='btn btn-lg btn-info' ng-class="{'btn-primary': tenants.single.subscription_info.plan != 'modified' }">{{tenants.single.subscription_info.plan}}</div><br/><br/>

            <div ng-show="tenants.single.basicinfo.is_modified == true">Modified</div>
            <div ng-hide="tenants.single.basicinfo.is_modified == true">Unmodified</div>
          </center>
          <!-- <div class="col-sm-offset-1 col-sm-10">
            <input type="number" ng-model="tenants.single.access_restrictions_info.max_import_sources"
                   class="form-control input-style"/>
          </div> -->
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div style="clear:both;"><br/></div>
      
      <div class="col-sm-12">
        <div class="col-sm-offset-1 col-sm-6">
          <h4 class="control-label" style="width: 100%; text-align: left;">Plan Notes: </h4>
          <textarea class="form-control input-style"
            rows="5"></textarea>
        </div>
        <div class="col-sm-4">
          <button ng-click="update_access_restrictions()"
                  class="dropdown-toggle groove-button label label-default label-success pull-right" style="margin-right: 30px;" translate>Update
          </button>
          <div style="clear:both;"></div>
          <div>
            <h4>Stripe Customer</h4>
            <span><a href="https://dashboard.stripe.com/test/customers/{{tenants.single.subscription_info.customer_id}}" target="_blank">{{tenants.single.subscription_info.email}}</a></span>
          </div>
          <div style="clear:both;"></div>
          <div>
            <h4 class="control-label">Stripe Plan</h4>
            <span><a href="https://dashboard.stripe.com/test/plans/{{tenants.single.subscription_info.plan_id}}" target="_blank">{{tenants.single.subscription_info.plan}}</a></span>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div style="clear:both;"></div>
      <hr>
      <div>
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="col-sm-3">
            <center>
              <div><i class="groove-fa fa fa-file-text-o fa-5x"></i></div>
              <br/>
              <button ng-click="delete_orders()" class="dropdown-toggle groove-button label label-default label-danger"
                      translate>Delete Orders
              </button>
            </center>
          </div>
          <div class="col-sm-3">
            <center>
              <div><i class="groove-fa fa fa-shopping-cart fa-5x"></i></div>
              <br/>
              <button ng-click="delete_products()"
                      class="dropdown-toggle groove-button label label-default label-danger" translate>Delete Products
              </button>
            </center>
          </div>
          <div class="col-sm-3" style="vertical-align: bottom;">
            <center>
              <div style="height: 1em;"></div>
              <div>
                <i class="groove-fa fa fa-file-text-o fa-4x"></i> <i
                class="glyphicon-plus-style glyphicon glyphicon-plus"></i><i
                class="groove-fa fa fa-shopping-cart fa-4x"></i>
              </div>
              <br/>
              <button ng-click="delete_orders_and_products()"
                      class="dropdown-toggle groove-button label label-default label-danger" translate>Orders & Products
              </button>
            </center>
          </div>
          <div class="col-sm-3">
            <center>
              <div><i class="groove-fa fa fa-bomb fa-5x"></i></div>
              <br/>
              <button ng-click="delete_all()" class="dropdown-toggle groove-button label label-danger" translate>Clear
                All Data
              </button>
            </center>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="col-sm-12">
        <br/>
      </div>
      <div style="clear:both;"></div>
      <hr>
      <h4 class="control-label" style="width: 100%; text-align: center;">Allow Inventory Pull/Push </h4><br/>
      <div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
          <center>
            <label class="control-label">BigCommerce</label>
            <br/>
            <div class="controls">
              <div toggle-switch ng-model="tenants.single.access_restrictions_info.allow_bc_inv_push" ng-click="allowinventory_pull_push_all(true)"></div>
            </div>
          </center>
        </div>
        <div class="col-sm-2">
          <center>
            <label class="control-label">Shopify</label>
            <br/>
            <div class="controls">
              <div toggle-switch ng-model="tenants.single.access_restrictions_info.allow_shopify_inv_push" ng-click="allowinventory_pull_push_all(true)"></div>
            </div>
          </center>
        </div>
        <div class="col-sm-2">
          <center>
            <label class="control-label">Magento2</label>
            <br/>
            <div class="controls">
              <div toggle-switch ng-model="tenants.single.access_restrictions_info.allow_mg_rest_inv_push" ng-click="allowinventory_pull_push_all(true)"></div>
            </div>
          </center>
        </div>
        <div class="col-sm-2">
          <center>
            <label class="control-label">Teapplix</label>
            <br/>
            <div class="controls">
              <div toggle-switch ng-model="tenants.single.access_restrictions_info.allow_teapplix_inv_push" ng-click="allowinventory_pull_push_all(true)"></div>
            </div>
          </center>
        </div>
        <div class="col-sm-2"></div>
      </div>


      <div class="col-sm-12">
        <br/>
      </div>
      <div style="clear:both;"></div>
      <hr>
      <h4 class="control-label" style="width: 100%; text-align: center;">Allow Tracking Number Push </h4><br/>
      <div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <center>
            <label class="control-label">Magento SOAP</label>
            <br/>
            <div class="controls">
              <div toggle-switch ng-model="tenants.single.access_restrictions_info.allow_magento_soap_tracking_no_push" ng-click="allowinventory_pull_push_all(true)"></div>
            </div>
          </center>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
      </div>


      <div class="col-sm-12">
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-click="cancel()" class="modal-cancel-button" translate>Cancel</button>
  </div>
</div>

