<!-- show order modal -->
<div>
  <div class="modal-body modal-delete">
    <button type="button" class="close-btn modal-delete-close" ng-click="cancel()"><i
      class="glyphicon glyphicon-remove"></i></button>
    <div class="modal-title" style="margin-left: 0px;">
      <legend>
        <center>Insert a name for the duplicate tenant</center>
      </legend>
    </div>
    <div class="container-fluid">
      <div class="col-sm-12 form-group">
        <div class="controls">
          <input type="text" id="name" class="form-control input-style" autofocus="true" ng-model="tenants.duplicate_name"/>
        </div>
      </div>
    </div>
    <legend></legend>
    <div class="container-fluid">
      <button ng-click="ok()" class="modal-save-button" translate>Create</button>
      <button ng-click="cancel()" class="modal-cancel-button" translate>Cancel</button>
    </div>
  </div>
</div>

