<div class="well-header">
  <h4 class="text-center">Risk Free Trial Gaurantee</h4>
</div>

<div class="form-group">
  <div class="control-label">
    <i class="fa fa-check-square-o"></i>
    Your creditcard will not be charged during the trial.
  </div>
</div>

<div class="form-group">
  <div class="control-label">
    <i class="fa fa-check-square-o"></i>
    You’ll have access to remove your card information at any time, if you do not wish to continue the trial.
  </div>
</div>

<div class="form-group">
  <div class="control-label">
    <i class="fa fa-check-square-o"></i>
    Your details are encrypted and secured by Stripe, a certified. Level 1 PCI Service Provider
    <small>(the most stringent level of certification)</small>
  </div>
</div>

<div class="">
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <button id="shopifyButton" class="btn btn-primary" style="margin-bottom: 15px;">Purchase</button>

  <div class="alert alert-success" id="processing_alert_success" style="display:none;">
    <div><i class="glyphicon glyphicon-refresh spin" style="font-size: 12px;"></i> Your subscription is being processed.</div>
  </div>
  <div class="alert alert-error" id="processing_alert_error" style="display:none;">
    <p>Your subscription could not be processed. Please try again.</p>
  </div>
</div>