<div class="row">
  <div class="box-outer">
    <div class="box"></div>
    <div class="col-sm-offset-3 col-sm-6">
      <img src="/assets/images/logo.png" class="col-xs-12" alt="GroovePacker"/>
    </div>
  </div>
</div>
<div class="row bottom-well col-sm-offset-1 col-sm-10">
  <div class="row">
    <div class="col-sm-12">
    	<center>
	    	<h4>Thank you for completing the profile. An email with your GroovePacker login details will be sent as soon as your account is ready.</h4>
	    	<br /><br />
	    	If your email does not arrive in the next hour or if you need assistance please don't hesitate to email us at <a href="http://support@groovepacker.com">support@groovepacker.com</a>.
    	</center>
    </div>
  </div>
</div>
