<div style="padding-top: 20px;">
	<div class="well span8" style="margin-left: 150px;">
	  <form action="process_pay" method="POST" id="payment-form">
	    <span class="payment-errors"></span>
	 		
	    <div class="control-group">
	    	<label class="control-label span3">Card Number:</label>
	        <div class="controls">
	        	<input type="text" size="20" data-stripe="number"/>
	      	</div>
	 			<label class="control-label span3">CVC:</label>
	    	<div class="controls">
	        <input type="text" size="4" data-stripe="cvc"/>
	      </div>
	 			<label class="control-label span3">Expiration (MM/YYYY):</label>
	    	<div class="controls">
	        <input type="text" size="2" data-stripe="exp-month"/>
	      	<input type="text" size="4" data-stripe="exp-year"/>
	    	</div>
	    </div>
	    <center><button type="submit" class="btn btn-primary">Submit Payment</button></center>
	  </form>
	</div>
</div>