<!-- Google Code for New Subscription Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 953394465;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "sDccCPXf3FoQocrOxgM";
var google_conversion_value = 500.00;
var google_conversion_currency = "USD";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/953394465/?value=500.00&currency_code=USD&label=sDccCPXf3FoQocrOxgM&guid=ON&script=0"/>
</div>
</noscript>

<div class="row">
  <div class="box-outer">
    <div class="box"></div>
    <div class="col-sm-offset-3 col-sm-6">
      <img src="/assets/images/logo.png" class="col-xs-12" alt="GroovePacker"/>
    </div>
  </div>
</div>
<div class="row bottom-well col-sm-offset-1 col-sm-10">
  <div class="row">
    <div class="col-sm-12" style="font-size: 30px;">
      <center><b><i>
        <%= flash[:notice] %>
      </i></b></center>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      Payment of your initialization fee is complete. Your transaction id is: <%=params[:transaction_id]%>. Your subscription will begin billing at the end of your evaluation period on <%=params[:next_date]%>. When your server deployment is complete an email will be sent to <i><%=params[:email]%> </i>providing you the login details for your account. 
    </div>
  </div>
</div>
