
<div> 
	<p>Thank you for your subscription. Your login information are:</p>
	<p>Url: 	<%= @user_name%>.groovepacker.com</p>
	<p>Username: 	<%= @user_name%></p>
	<p>Password:	<%= @password%></p>
</div>