<div style="-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; position: relative; margin: auto; padding: 10px 50px 100px 50px; border: 4px solid rgba(128, 128, 128, 1); -webkit-border-radius: 24px / 23px; border-radius: 24px / 23px; color: rgba(0,0,0,0.9); -o-text-overflow: clip; text-overflow: clip; background: url('http://www.groovepacker.com/site/images/background_image.png') no-repeat #000; background-position: 50% 50%; -webkit-background-origin: padding-box; background-origin: padding-box; -webkit-background-clip: border-box; background-clip: border-box; -webkit-background-size: cover; background-size: cover; -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4); box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4);">
  <div>
    <center>
      <a href="https://<%= @tenant_name %>.groovepacker.com/"><img style="margin: auto; display: block;" src="http://www.groovepacker.com/site/images/GroovePacker_Bc_logo_400x73.png" alt=""></a>
    </center>
  </div>
  <div style="font-size:25px; color:#95D329;">
    <center><p><b>Getting Started</b></p></center>
  </div>
  <div style="background:#F2F3FF; border: 4px solid rgba(201,201,201,.69); border-radius:20px; border-style:double; border-color:#59638B; margin-left:40px; margin-right:40px;">
    <div style="font-size:15px; margin-left:20px;">
      <p>Hey there!</p>

      <p>While your GroovePacker is being setup please take a look at these handy links and resources. For the most part
        you won't need a User Guide to start using GroovePacker but there are a few ideas about the flow of the app that
        once understood will help the rest fall into place.</p>

      <p>For example, GroovePacker recognizes products by SKU as orders import each day. It's always a good practice to
        import your products data first, before running your first order import. You'll find a video showing how in the
        Knowledge Base on our <a href="http://groovepacker.uservoice.com/" style="color:#66A909;">UserVoice page</a>.
      </p>

      <p>Other articles and videos covering setup and common topics can also be found in the Knowledge Base.</p>

      <p>Feature requests or bug reports can be submitted from the UserVoice page or you can click the small green icon
        which appears in the bottom right hand corner when you are logged in to GroovePacker.</p>

      <p>If you need support or have questions related to your account please email support@groovepacker.com</p>

      <p>Best Regards,<br/>
        The GroovePacker team</p>
      <br><br><br><br>
    </div>
  </div>
  <div style="font-size:15px; color:#95D329;">
    <div><p>
      <a href="http://groovepacker.com/support"><img height="50px" src="http://www.groovepacker.com/site/images/apple-touch-icon.png" align="right" style="margin-right:40px; margin-top:5px;"></a>
    </p></div>
    <div style="color:#95D329; font-size:12px; text-align:right; margin-right:30px; padding-bottom:50px; padding-top:55px;">Need
      Help?
    </div>
  </div>
</div>
