<div class="login-form">
  <div class="row">
    <div class="box-outer">
      <div class="box"></div>
      <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6">
        <img src="/assets/images/logo.png" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" alt="GroovePacker"/>
      </div>
    </div>
  </div>

  <div class="row bottom-well col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6">

    <h2>Login</h2>

    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.input :username, :input_html => { :id => "username" }, :required => false, :autofocus => true %>
        <%= f.input :password, :input_html => { :id => "password" }, :required => false %>
      </div>
      <br/>

      <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-4 col-md-4 col-lg-4">
        <%= f.button :submit, "Login", :id => 'login_button', :class => "btn btn-success col-lg-12 col-md-12 col-sm-12 col-xs-12" %>
      </div>
    <% end %>
    <script type="text/javascript">
      $('#login_button').click(function(event){
        var t = event.target;
        event.preventDefault();
        event.stopPropagation();
        var username = $('#username').val();
        var password = $('#password').val();
        var url = document.URL.split('/');
        // var url = window.location.href;    
        // console.log(username);
        // console.log(password);
        var target_url = url[0] + '//' + url[2] + '/auth/v1/login';
        // var target_url = 'http://localtest16.localpacker.com/auth/v1/login';
        fetch(target_url, {  
          method: 'post',  
          headers: {  
            "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"  
          },  
          body: "username=" + username + "&password=" + password
        })
        .then((response) => {
          if(response.status == 200){
            response.json().then((data) => {
              access_token = data.access_token;
              localStorage.removeItem('access_token');
              localStorage.setItem('access_token', access_token);
              console.log(access_token);
              // console.log(localStorage.getItem('access_token'));
              // console.log('.......');
              // console.log(event);
              $(this).unbind('click').click();
            })
          }
        })
      })
    </script>
  </div>
</div>

