<div class="container-fluid">
  <div class="row bottom-well">
    <div class="col-lg-2 col-md-2">
      <div class="row">
        <accordion>
          <accordion-group is-open="firstOpen">
            <accordion-heading>
              <i></i>
              <a ui-sref="orders.filter.page({filter:'awaiting',page:1})" ng-click="orders.setup.search=''">Orders</a>
            </accordion-heading>

            <li ng-class="{active:orders.setup.search=='' && orders.setup.filter=='all'}"
                ng-click="orders.setup.search=''" ui-sref="orders.filter.page({filter:'all',page:1})"
                ui-sref-opts="{reload: true}">Show All
            </li>
            <li ng-class="{active:orders.setup.search=='' && orders.setup.filter=='awaiting'}"
                ng-click="orders.setup.search=''" ui-sref="orders.filter.page({filter:'awaiting',page:1})"
                ui-sref-opts="{reload: true}">Awaiting
            </li>
            <li ng-class="{active:orders.setup.search=='' && orders.setup.filter=='onhold'}"
                ng-click="orders.setup.search=''" ui-sref="orders.filter.page({filter:'onhold',page:1})"
                ui-sref-opts="{reload: true}">Action Required
              &nbsp;&nbsp;<i class="icon-warning glyphicon glyphicon-warning-sign"
                             ng-show="orders.orders_count.onhold > 0" tooltip="{{orders.orders_count.onhold}}"></i></li>
            <li ng-class="{active:orders.setup.search=='' && orders.setup.filter=='serviceissue'}"
                ng-click="orders.setup.search=''" ui-sref="orders.filter.page({filter:'serviceissue',page:1})"
                ui-sref-opts="{reload: true}">Service
              Issue
            </li>
            <li ng-class="{active:orders.setup.search=='' && orders.setup.filter=='cancelled'}"
                ng-click="orders.setup.search=''" ui-sref="orders.filter.page({filter:'cancelled',page:1})"
                ui-sref-opts="{reload: true}">Cancelled
            </li>
            <li ng-class="{active:orders.setup.search=='' && orders.setup.filter=='scanned'}"
                ng-click="orders.setup.search=''" ui-sref="orders.filter.page({filter:'scanned',page:1})"
                ui-sref-opts="{reload: true}">Scanned
            </li>
          </accordion-group>
        </accordion>
      </div>
    </div>
    <div class="col-lg-10 col-md-10">
      <div class="row">
        <div class="col-lg-7 col-md-7">
          <div class="col-lg-offset-3 col-md-offset-3 col-lg-9 col-md-9 pull-left">
            <input type="text" class="form-control search-box" autofocus="autofocus" id="order-search-query"
                   ng-model="orders.setup.search" placeholder="Search">
          </div>
        </div>
        <div class="col-lg-2 col-md-2" dropdown>
          <button type="button" class="groove-button dropdown-toggle">
            Printing <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a class="dropdown-toggle" ng-click="generate_orders_pick_list_and_packing_slip()">Print Pick List and
              Packing Slips <span class="badge badge-important">{{orders.setup.select_all? gridOptions.paginate.total_items: gridOptions.selections.selected_count}}</span></a>
            </li>
            <li><a class="dropdown-toggle" ng-click="generate_orders_pick_list()">Print Only Pick list <span
              class="pull-right badge badge-important">{{orders.setup.select_all? gridOptions.paginate.total_items: gridOptions.selections.selected_count}}</span></a>
            </li>
            <li><a class="dropdown-toggle" ng-click="generate_orders_packing_slip()">Print Only Packing Slips <span
              class="pull-right badge badge-important">{{orders.setup.select_all? gridOptions.paginate.total_items: gridOptions.selections.selected_count}}</span></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-1 col-md-1" dropdown>
          <button type="button" class="groove-button dropdown-toggle">
            Edit <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-if="general_settings.single.export_items != 'disabled'"><a class="dropdown-toggle"
                                                                              ng-click="generate_orders_items_list()">Export
              Items <span class="pull-right badge badge-important">{{orders.setup.select_all? gridOptions.paginate.total_items: gridOptions.selections.selected_count}}</span></a>
            </li>
            <li><a class="dropdown-toggle" ng-click="order_delete()">Delete <span
              class="pull-right badge badge-important">{{orders.setup.select_all? gridOptions.paginate.total_items: gridOptions.selections.selected_count}}</span></a>
            </li>
            <li><a class="dropdown-toggle" ng-click="order_duplicate()">Duplicate <span
              class="pull-right badge badge-important">{{orders.setup.select_all? gridOptions.paginate.total_items: gridOptions.selections.selected_count}}</span></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2" dropdown>
          <button type="button" class="groove-button dropdown-toggle">
            Change Status <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="order_change_status('awaiting')">Awaiting <span class="pull-right badge badge-important">{{orders.setup.select_all? gridOptions.paginate.total_items: gridOptions.selections.selected_count}}</span></a>
            </li>
            <li><a ng-click="order_change_status('serviceissue')">Service Issue <span
              class="pull-right badge badge-important">{{orders.setup.select_all? gridOptions.paginate.total_items: gridOptions.selections.selected_count}}</span></a>
            </li>
            <li ng-if="allow_status_changes.cancelled"><a ng-click="order_change_status('cancelled')">Cancelled <span
              class="pull-right badge badge-important">{{orders.setup.select_all? gridOptions.paginate.total_items: gridOptions.selections.selected_count}}</span></a>
            </li>
            <li ng-if="allow_status_changes.scanned"><a ng-click="order_change_status('scanned')">Scanned <span
              class="pull-right badge badge-important">{{orders.setup.select_all? gridOptions.paginate.total_items: gridOptions.selections.selected_count}}</span></a>
            </li>
          </ul>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <fieldset ng-disabled="orders.setup.filter == 'scanned'">
            <div groov-data-grid="gridOptions" groov-list="orders.list"></div>
          </fieldset>
        </div>
      </div>
      <div ui-view></div>
    </div>
  </div>
</div>

