<div class="container-fluid form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <legend>User permissions</legend>
            <div class="form-group">
                <label class="control-label col-md-3">Can make super admins</label>
                <div class="controls col-md-2">
                    <input name="make_super_admin" ng-model="users.single.role.make_super_admin" ng-disabled="roles_data.selectedRole!=null || roles_data.showSelectBaseRole==true"  ng-change="update_single_user()"  type="checkbox" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Add and edit users</label>
                <div class="controls col-md-2">
                    <input name="add_edit_users" ng-model="users.single.role.add_edit_users" ng-disabled="roles_data.selectedRole!=null || roles_data.showSelectBaseRole==true" ng-change="update_single_user()"  type="checkbox" checked/>
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <legend>Section access</legend>

            <div class="form-group">
                <label class="control-label col-md-3">Settings</label>
                <div class="controls col-md-2">
                    <input name="access_settings" ng-model="users.single.role.access_settings" ng-disabled="roles_data.selectedRole!=null || roles_data.showSelectBaseRole==true" ng-change="update_single_user()"  type="checkbox" checked/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Scan &amp; Pack</label>
                <div class="controls col-md-2">
                    <input name="access_scanpack" ng-model="users.single.role.access_scanpack" ng-change="update_single_user()"  type="checkbox" disabled/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Orders</label>
                <div class="controls col-md-2">
                    <input name="access_orders" ng-model="users.single.role.access_orders" ng-disabled="roles_data.selectedRole!=null || roles_data.showSelectBaseRole==true" ng-change="update_single_user()"  type="checkbox" checked/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Products</label>
                <div class="controls col-md-2">
                    <input name="access_products" ng-model="users.single.role.access_products" ng-disabled="roles_data.selectedRole!=null || roles_data.showSelectBaseRole==true" ng-change="update_single_user()"  type="checkbox" checked/>
                </div>
            </div>
        </div>
    </div>
</div>
