<h3><%= "#{@tenant} - Reported Bug" %></h3>

<b>User: </b><%= @user %>
</br>
</br>
<b>Time: </b><%= Time.current.to_s(:rfc822) %>
</br>
</br>
<b>Feedback: </b><%= @data[:feedback] %>
</br>
</br>
<% if @data[:logs].present? %>
  Please find the attached file.
<% end %>
