<style type="text/css">
  table.delayed_job td {padding: 5px; border: 1px solide #d4d4d4;}
  table.delayed_job {padding: 5px;}
</style>
<h3><%= "#{@tenant} - Reported Bug" %></h3>

<b>User: </b><%= @user %>
</br>
</br>
<b>Time: </b><%= Time.current.to_s(:rfc822) %>
</br>
</br>
<b>Feedback: </b><%= @data[:feedback] %>
</br>
</br>
<% if @data[:logs].present? %>
  Please find the attached file.
<% end %>
