<div>

    <div class="modal-header">
        <button type="button" class="close-btn" ng-click="ok()"><i class="glyphicon glyphicon-remove"></i></button>
        <div class="modal-title">
            <span ng-show="csv.importer.type == 'product'">Import Detailed Products from CSV</span>
        </div>
    </div>


    <div class="modal-body" >

        <div class="container-fluid form-horizontal">
            <div class="row">
                <div class="col-md-8">
                    <legend>Import Options</legend>
                    <div class="form-group">
                        <label class="control-label col-md-4">From Row</label>
                        <div class="controls col-md-2">
                            <input type="number" class="form-control input-style" min="1" ng-change="parse()"  ng-model="csv.current.rows" />
                        </div>
                    </div>
                    <legend>Separator Options</legend>
                    <div class="container-fluid">
                        <label class="radio col-sm-2">
                            <input type="radio" name="fixed_width" ng-model="csv.current.fix_width" ng-change="parse()" value="1"/>  Fixed width
                        </label>
                        <div class="form-group" ng-show="csv.current.fix_width == '1'">
                            <label class="control-label col-md-4">Width</label>
                            <div class="controls col-md-2">
                                <input type="number" class="form-control input-style" ng-change="parse()" ng-model="csv.current.fixed_width" min="1" />
                            </div>
                        </div>

                        <label class="radio col-sm-12">
                            <input type="radio" name="fixed_width" ng-model="csv.current.fix_width" ng-change="parse()" value="0"  > Separated by
                        </label>
                        <div class="container-fluid" ng-show="csv.current.fix_width == '0'" >
                            <div class="controls col-md-8">
                                <label class="radio inline">
                                    <input type="radio" ng-model="csv.current.sep" ng-click="csv.current.other_sep = 0" ng-change="parse()" value="," /> Comma
                                </label>
                                <label class="radio inline">
                                    <input type="radio" ng-model="csv.current.sep" ng-click="csv.current.other_sep = 0"  ng-change="parse()" value=";" /> Semi-colon
                                </label>
                                <label class="radio inline">
                                    <input type="radio" ng-model="csv.current.sep" ng-click="csv.current.other_sep = 0"  ng-change="parse()" value="\t" /> Tab
                                </label>
                                <br/>
                                <label class="radio inline">
                                    <input type="radio" ng-model="csv.current.sep" ng-click="csv.current.other_sep = 0"  ng-change="parse()" value=" " /> Space
                                </label>

                                <label class="radio inline">
                                    <input type="radio" ng-model="csv.current.other_sep" value="1" /> Other <input type="text" ng-model="csv.current.sep" ng-show="csv.current.separator == '1'" ng-change="parse()" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <legend ng-show="csv.current.fix_width == '0'">Delimiter</legend>
                    <div class="form-group" ng-show="csv.current.fix_width == '0'">
                        <div class="controls col-md-8">
                            Text delimiter <input type="text" class="form-control input-style" ng-model="csv.current.delimiter" ng-change="parse()" />
                        </div>
                    </div>
                    <legend ng-show="csv.importer.type == 'product'">Product Import options</legend>
                    <div class="form-group" ng-if="csv.importer.type == 'product'">
                        <div class="controls col-md-8">
                            <label class="radio inline">
                                <input type="radio" ng-model="csv.current.import_action" value="create_new" /> Create New Product Records <span class="icon-large glyphicon glyphicon-info-sign"></span>
                            </label>
                            <label class="radio inline">
                                <input type="radio" ng-model="csv.current.import_action" value="update_existing" /> Add or Update Existing Product Records <span class="icon-large glyphicon glyphicon-info-sign"></span>
                            </label>
                            <label class="radio inline">
                                <input type="radio" ng-model="csv.current.import_action" value="create_update" /> Create and Update Product Records <span class="icon-large glyphicon glyphicon-info-sign"></span>
                            </label>
                        </div>
                    </div>
                    <legend >Csv Map Name</legend>
                    <div class="form-group" >
                        <div class="controls col-md-8">
                            Name <input type="text" class="form-control input-style" ng-model="csv.current.name" />
                        </div>
                    </div>
                    </div>
                </div>
            <div class="row">
                <div class="pull-right col-xs-4 col-sm-3 col-md-2">
                    <button ng-click="ok()" class="modal-save-button">Import</button>
                    <button ng-click="cancel()" class="modal-cancel-button">Cancel</button>
                </div>
                <div class="col-xs-12">
                    <legend>Preview</legend>
                    <div class="csv-preview">
                        <table class="table table-hover table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th ng-repeat="column in empty_cols">
                                    <div class="btn-group btn-group-sm" dropdown>
                                        <button class="groove-button dropdown-toggle" ng-click="column_unmap(column)">
                                            {{csv.current.map[column].name}}
                                            <span ng-show="csv.current.map[column].value == csv.importer.default_map.value" class="caret"></span>
                                            <span ng-show="csv.current.map[column].value != csv.importer.default_map.value" >x</span>
                                        </button>


                                        <ul class="dropdown-menu" role="menu" ng-show="csv.current.map[column].value!= 'sku'">
                                            <li ng-repeat="opt in csv.importer[csv.importer.type]['map_options']" ng-class="{disabled:opt.disabled}">
                                                <a dropdown-toggle ng-click="column_map(column,opt)">{{opt.name}}</a>
                                            </li>
                                        </ul>

                                    </div>
                                </th>
                            </tr>
                            </thead>

                            <tr ng-repeat="(row_number, preview_row) in csv.current.data">
                                <td ng-repeat="column_number in empty_cols"> <div class="csv-preview-fix-height"> {{csv.current.data[row_number][column_number]}}</div> </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="ok()" class="modal-save-button">Import</button>
        <button ng-click="cancel()" class="modal-cancel-button">Cancel</button>
    </div>
</div>
