<div class="row">
  <div class="col-md-6">
    <legend>Magento REST Credentials</legend>
    <div class="form-group">
      <label class="control-label col-md-4">URL</label>

      <div class="controls col-md-8">
        <input name="host" ng-blur="update_single_store(true)" ng-model="stores.single.host"
               class="form-control input-style" placeholder="http://www.domain.com/store" type="text" value=""
               required/><span>Please use https if the store is hosted at a secure URL.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-4">API Key</label>

      <div class="controls col-md-8">
        <input name="apikey" ng-blur="update_single_store(true)" ng-model="stores.single.api_key" class="form-control input-style" type="text" value="" placeholder="Consumer Api Key" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">API Secret</label>

      <div class="controls col-md-8">
        <input name="apisecret" ng-blur="update_single_store(true)" ng-model="stores.single.api_secret" class="form-control input-style" type="text" value="" placeholder="Consumer Api Secret" required/>
      </div>
    </div>
    <div class="form-group" ng-if="!stores.single.access_token">
      <label class="control-label col-md-4"></label>
      <div class="controls col-md-8">
        <button ng-disabled="(stores.single.host == null || stores.single.host == 'null') || (stores.single.api_key == null || stores.single.api_key == 'null') || (stores.single.api_secret == null || stores.single.api_secret == 'null')" class="btn btn-success" ng-click="launch_magento_aurthorize_popup()">
          Aurthorize
        </button>
      </div>
    </div>

    
    <div ng-if="!stores.single.access_token">
      <div class="form-group">
        <label class="control-label col-md-4">Oauth Varifier</label>

        <div class="controls col-md-8">
          <input name="oauthvarifier" ng-model="stores.single.oauth_varifier" class="form-control input-style" type="text" value="" placeholder="Oauth Varifier" required/>
          <span>You will get 'Oauth Varifier' on 'Aurthorization'. Provide it here to get access to store.</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"></label>
        <div class="controls col-md-8">
          <button class="btn btn-success" ng-click="get_magento_access_token()">
            Get Access Token
          </button>
        </div>
      </div>
    </div>

    <div ng-if="stores.single.access_token">
      <div class="form-group">
        <label class="control-label col-md-4">Access token</label>
        <div class="controls col-md-8">
          <p class="form-control-static">Available</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4"></label>
        <div class="controls col-md-8">
          <button class="btn btn-success" ng-click="check_magento_connection()">
            Check Connection
          </button>

          <button confirm-click="Are you sure?" class="btn btn-success" ng-click="disconnect_magento_connection()">
            Disconnect
          </button>
        </div>
      </div>
    </div>



  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <legend>Store Settings</legend>
    <label class="checkbox">
      <input type="checkbox" ng-change="update_single_store(true)"
             ng-model="stores.single.import_images"
             name="import_images"/> Import Images <br/>
    </label>
    <label class="checkbox">
      <input type="checkbox" ng-change="update_single_store(true)" ng-model="stores.single.import_categories" name="import_categories"/> Import Product Categories<br/>
    </label>
  </div>
</div>