<div class="row">
  <div class="box-outer">
    <div class="box"></div>
    <div class="col-sm-offset-3 col-sm-6">
      <img src="/assets/images/logo.png" class="col-xs-12" alt="GroovePacker"/>
    </div>
  </div>
</div>
<div class="row bottom-well col-sm-offset-3 col-sm-6">
  <div class="row">
    <div class="col-sm-12">
      <center>
        <h4 style="background-color: #16551E; padding: 5px; border-radius: 10px; text-transform: uppercase; color: rgb(170, 255, 0);">
          <%= "#{params[:tenant]}.groovepacker.com" %>
        </h4>
        <h4 style="color: #2A9336; margin-top: 20px;">Your Store is Connected!</h4>
        <br>
        Click to launch GroovePacker in new tab.
        <br>
        <a class="btn btn-default" target="_blank" href="https://<%=params[:tenant]%>.groovepacker.com" style="margin-top: 10px;">Launch GroovePacker</a>
      </center>
    </div>
  </div>
</div>