<div class="row">
  <div class="box-outer">
    <div class="box"></div>
    <div class="col-sm-offset-3 col-sm-6">
      <img src="/assets/images/logo.png" class="col-xs-12" alt="GroovePacker"/>
    </div>
  </div>
</div>
<div class="row bottom-well col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-md-6 col-sm-6 col-lg-6">
  <legend class="text-center"></legend>
  <div>
    
    <fieldset>
      <div class="col-md-12" style="padding: 10px;">
        <a href="https://www.groovepacker.com/big_commerce/login" style="color: black;">
          <div class="col-md-3"><i class="fa fa-headphones fa-5x"></i></div>
          <div class="col-md-9">
            <h2 style="margin-top: 0px;">Ready to Groove?</h2>
            <h4>Visit your GroovePacker URL to log in.</h4>
          </div>
        </a>
      </div>
      
      <div class="col-md-12" style="padding: 10px;">
        <a href="https://www.groovepacker.com/pricing" style="color: black;">
          <div class="col-md-3"><i class="fa fa-play fa-5x"></i></div>
          <div class="col-md-9">
            <h2 style="margin-top: 0px;">No Account Yet?</h2>
            <h4>Create an account on our site here.</h4>
          </div>
        </a>
      </div>

      <div class="col-md-12" style="padding: 10px;">
        <a href="https://www.groovepacker.com/support" style="color: black;">
          <div class="col-md-3"><i class="fa fa-question-circle fa-5x"></i></div>
          <div class="col-md-9">
            <h2 style="margin-top: 0px;">Need help?</h2>
            <h4>Visit our Support page.</h4>
          </div>
        </a>
      </div>
    </fieldset>
  </div>
</div>