<p>Password Reset For <%= @resource.username %> at <%= @resource.tenant %>.groovepacker.com </p>
<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token, :user_id => @resource.id).gsub("localhost:3000", "#{Apartment::Tenant.current}.#{ENV['HOST_NAME']}/#").gsub("api","")%></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
