<p>Password Reset For <%= @resource.username %> at <%= @resource.tenant %><%=".#{ENV['FRONTEND_HOST']}"%> </p>
<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token, :user_id => @resource.id).gsub("#{ENV['HOST_NAME']}", "#{Apartment::Tenant.current}.#{ENV['FRONTEND_HOST']}/#")%></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
