<!DOCTYPE html>
<html>
<head>
</head>
<body style="line-height: 8px; margin-left: 3px; margin-top: 2px; margin-right: 2px; margin-bottom: 1px">
    <%if !@product.product_barcodes.first.nil? && !@product.product_barcodes.first.barcode.nil? %>
      <%unless @product.primary_sku.nil?%>
        <div style="font-size: 13px; margin-left: 10px; margin-top: 5px; margin-bottom: 0px;"><%= @product.primary_sku %></div> <br/>
      <%end%>
      <div style="font-size: 12px; margin-left: 10px; margin-top:2px; margin-bottom: 5px;"><%= truncate(@product.name, length: 43)%></div>

      <% barcode_string = generate_barcode(@product.primary_barcode)%>
      <div  style="margin-top:3px;">
        <center><%= pdf_image_tag(barcode_string+".png", {:width => 255, :height => 48}) %></center>
      </div>
      <div style="line-height: 8px; font-size:8px;">
        <center>*<%=@product.primary_barcode%>*</center>
      </div>
    <%else%>
      <br/>
      <div style="font-size: 20px; margin-bottom: 10px; margin-left: 45px;">Barcode not available</div>
    <%end%>
</body>
</html>
