<html>
<head><title>GroovePacker Ebay Handler</title></head>
<body>
<a href="#" onclick="window.close();">close window</a>
<script language="javascript">
  var closeWindow = function () {
    window.close();
  };
  window.onload = closeWindow();
</script>

</body>
</html>
